@*@model shop123.Models.SpuModel*@
@model shop123.ViewModel.MemberCenter
@{
    ViewBag.Title = "MemberCenter";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="container-all">
    <!-- 中左邊可收縮視窗 -->
    <div class="container-left">
        <nav class="sidebar">
            <!-- 展開收縮按鈕 -->
            <button type="button" id="collapse" class="collapse-btn">
                <i class="fas fa-align-left"></i>
            </button>
            <!-- 列表 -->
            <p>我的會員中心</p>
            <ul class="choose-features">
                <!--買家賣家選擇-->
                <li class="buyer-features"><a href="javascript:;"><i class="fas fa-check"></i><br>會員功能</a></li>
                <li class="seller-features"><a href="javascript:;"><i class="fas fa-check"></i><br>賣家功能</a></li>
            </ul>
            <ul class="list-unstyled">
                <li class="editSelfFiles"><a href="javascript:;"><i class="fas fa-user-edit"></i>編輯個人檔案</a></li>
                <!--賣家訂單-->
                <li class="editOrder">
                    <a class="orderList" href="#sublist" data-toggle="collapse" id="dropdown">
                        <i class="fas fa-edit"></i>訂單管理
                    </a>
                    <!-- 子連結 -->
                    <ul id="sublist" class="list-unstyled collapse">
                        <li><a href="#tabs-1" data-toggle="tab">待付款</a></li>
                        <li><a href="#tabs-2" data-toggle="tab">待出貨</a></li>
                        <li><a href="#tabs-3" data-toggle="tab">待收貨</a></li>
                        <li><a href="#tabs-4" data-toggle="tab">訂單完成</a></li>
                        <li><a href="#tabs-5" data-toggle="tab">不成立訂單</a></li>
                        <li><a href="#tabs-6" data-toggle="tab">待取消</a></li>
                    </ul>
                </li>
                <!--買家訂單-->
                @*<li class="buyer-editOrder">
                    <a class="orderList" href="#buysublist" data-toggle="collapse"
                       id="dropdown"><i class="fas fa-edit"></i>訂單管理</a>*@
                    <!--子連結-->
                    @*<ul id="buysublist" class="list-unstyled collapse">
                        <li><a href="#tabs-7" data-toggle="tab">待付款</a></li>
                        <li><a href="#tabs-8" data-toggle="tab">待出貨</a></li>
                        <li><a href="#tabs-9" data-toggle="tab">待收貨</a></li>
                        <li><a href="#tabs-10" data-toggle="tab">訂單完成</a></li>
                        <li><a href="#tabs-11" data-toggle="tab">不成立訂單</a></li>
                        <li><a href="#tabs-12" data-toggle="tab">退貨/退款</a></li>
                    </ul>
                </li>*@
                <li class="editFavItems"><a href="javascript:;"><i class="fas fa-heart"></i>收藏商品</a></li>
                <li class="addProduct"><a href="javascript:;"><i class="fas fa-plus"></i>新增商品</a></li>
                <li class="myProduct"><a href="javascript:;"><i class="fas fa-tshirt"></i>我的商品</a></li>
            </ul>
        </nav>
    </div>


    <!-- 中間內容 -->
    <div class="containerMain">
        <div class="personInfo col-5">
            <form class="selfFiles" action="/Member/memberinfo" enctype="multipart/form-data" method="post">
                <h3>個人檔案</h3>
                <input type="hidden" name="id" value="@ViewData.Model.id" />
                <div class="memberName form-group">
                    <label for="memberName">使用者名稱:</label>
                    <input type="text" class="form-control" name="memberName" id="memberName" value="@ViewData.Model.memberName">

                </div>
                <div class="memberPassword form-group">
                    <label for="memberPassword">使用者密碼:</label>
                    <input type="password" class="form-control eyepassword" name="memberPassword" id="memberPassword" value="@ViewData.Model.memberPassword">
                    <label><img src="~/Images/closeeye.png" alt="" id="eye" style="width:20px; height:20px;"></label>
                </div>
                <div class="memberEmail form-group">
                    <label for="memberEmail">使用者信箱:</label>
                    <input type="email" class="form-control" name="memberEmail" id="memberEmail" value="@ViewData.Model.memberEmail">
                </div>
                <div class="memberPhone form-group">
                    <label for="memberPhone">使用者聯絡方式:</label>
                    <input type="text" class="form-control" name="memberPhone" id="memberPhone" value="@ViewData.Model.memberPhone">
                </div>
                <!-- 使用者圖像上傳 -->
                <!-- 上傳圖片顯示 -->
                <div class="memberImg form-group">
                    <label>使用者照片:</label>
                    <input type="file" name="memberImgupload" value="選擇檔案">
                </div>
                @*<button class="button">上傳</button>*@
                <!--<div class="Ddrag-area">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <header>拖曳上傳</header>
                    <button>選擇檔案</button>
                    <input type="file" name="memberImgupload" value="選擇檔案">-->
                    @*隱藏input*@
                <!--</div>-->
                

                <input type="submit" id="confirmSave" name="memberSubmit" value="儲存修改">
            </form>
            <!--<form action="/Member/upload" method="post">
                <div class="Ddrag-area">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <header>拖曳或點擊</header>
                    <button class="dragbtn">選擇檔案</button>
                    <input type="file" class="dropinput" id="InputFile" name="memberImg" hidden>-->
                    <!--隱藏input-->
                <!--</div>
                <input type="submit" id="confirmSave" name="memberSubmit2" value="儲存修改">
            </form>-->
        </div>
        <!-- 訂單頁籤 -->
        <!--賣家-->
        <div id="tabs1">
            <ul class="nav nav-justified row justify-content-center">
                <li><a href="#tabs-1" data-toggle="tab" class="tabTitle">待付款</a></li>
                <li><a href="#tabs-2" data-toggle="tab" class="tabTitle">待出貨</a></li>
                <li><a href="#tabs-3" data-toggle="tab" class="tabTitle">待收貨</a></li>
                <li><a href="#tabs-4" data-toggle="tab" class="tabTitle">訂單完成</a></li>
                <li><a href="#tabs-5" data-toggle="tab" class="tabTitle">不成立訂單</a></li>
                <li><a href="#tabs-6" data-toggle="tab" class="tabTitle">待取消</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tabs-1">
                    <!--待付款訂單-->
                    <table class="table table-hover notpay-order">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                            <td>操作</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "未付款")
                            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.receiverPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderCreate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderState)
                        </td>
                        <td>
                            <form action="/Member/Edit" method="post">
                                <input type="hidden" name="id" value="@item.id" />
                                <input type="hidden" name="orderState" value="@item.orderState" />
                                <input type="submit" class="btn btn-outline-secondary" value="確定付款" onclick = "return confirm('確定要操作嗎?')"/>
                            </form>
                        </td>
                    </tr>
                            }
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tabs-2">
                    <!--待出貨訂單-->
                    <table class="table table-hover notshipping-order">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                            <td>操作</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "待出貨")
                            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.receiverPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderCreate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderState)
                        </td>
                        <td>
                            <form action="/Member/Edit" method="post">
                                <input type="hidden" name="id" value="@item.id" />
                                <input type="hidden" name="orderState" value="@item.orderState" />
                                <input type="submit" class="btn btn-outline-secondary" value="確定到貨" onclick = "return confirm('確定要操作嗎?')"/>
                            </form>
                        </td>
                    </tr>
                            }
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tabs-3">
                    <!--待收貨訂單-->
                    <table class="table table-hover all-order">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "待收貨")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.receiverPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderCreate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderState)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tabs-4">
                    <!--完成訂單-->
                    <table class="table table-hover all-order">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "完成")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.receiverPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderCreate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderState)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tabs-5">
                    <!--未成立訂單-->
                    <table class="table table-hover not-setup">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "未成立")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.receiverPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderCreate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderState)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="tab-pane" id="tabs-6">
                    <!--待取消-->
                    <table class="table table-hover return-order">
                        <tr>
                            <td>訂單編號</td>
                            <td>會員聯絡方式</td>
                            <td>訂單成立時間</td>
                            <td>訂單購買會員</td>
                            <td>付款狀態</td>
                            <td>操作</td>
                        </tr>
                        @foreach (var item in Model.orderSeller)
                        {
                            if (item.orderState == "待取消")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.receiverPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderCreate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderState)
                                    </td>
                                    <td>
                                        <form action="/Member/Edit" method="post">
                                            <input type="hidden" name="id" value="@item.id" />
                                            <input type="hidden" name="orderState" value="@item.orderState" />
                                            <input type="submit" class="btn btn-outline-secondary" value="確定取消" onclick = "return confirm('確定要操作嗎?')"/>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <!--買家-->
        @*<div id="tabs2">
            <ul class="nav nav-justified row justify-content-center">
                <li><a href="#tabs-7" data-toggle="tab" class="tabTitle">待付款</a></li>
                <li><a href="#tabs-8" data-toggle="tab" class="tabTitle">待出貨</a></li>
                <li><a href="#tabs-9" data-toggle="tab" class="tabTitle">代收貨</a></li>
                <li><a href="#tabs-10" data-toggle="tab" class="tabTitle">訂單完成</a></li>
                <li><a href="#tabs-11" data-toggle="tab" class="tabTitle">不成立訂單</a></li>
                <li><a href="#tabs-12" data-toggle="tab" class="tabTitle">退貨/退款</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tabs-7">
                </div>
                <div class="tab-pane" id="tabs-8">
                    <p>(買家)待出貨訂單</p>
                </div>
                <div class="tab-pane" id="tabs-9">
                    <p>(買家)待收貨訂單</p>
                </div>
                <div class="tab-pane" id="tabs-10">
                    <p>(買家)已完成訂單</p>
                </div>
                <div class="tab-pane" id="tabs-11">
                    <p>(買家)未成立訂單</p>
                </div>
                <div class="tab-pane" id="tabs-12">
                    <p>(買家)退貨/退款訂單</p>
                </div>
            </div>
        </div>*@

        <div class="favItems">歡迎來到會員中心</div>

        <!--上架區域-->
        <div class="upload col-7">
            <div>
                <div id="mydrop" class="drop">
                    <form action="upload" class="dropzone" name="dropzoneform" id="dropzoneform"
                          style="background-color:#EDEDE9">
                        <div class="dz-message" data-dz-message><span>請點擊或將圖片拖曳至此區塊</span></div>
                    </form>
                </div>
            </div>

            <form action="~/Member/MemberCenter" method="post">
                <div class="frame container testzone">

                    <div class="container">
                        <div class="d-flex flex-row align-items-center mb-4">

                            <div class="form-outline flex-fill mb-0 mt-5">
                                <label class="form-label" for="spuName">商品名稱</label>
                                <input type="text" name="spuName" id="spuName" class="form-control" />

                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">

                            <div class="form-outline flex-fill mb-0">

                                <label class="form-label" for="catalogAId">商品分類</label>
                                <select class="form-control itemselect" name="catalogAId" @*id="selectB"*@ onchange="selectB(this)">
                                    <option name="catalogAId" value="1">WOMAN</option>
                                    <option name="catalogAId" value="2">MEN</option>
                                    <option name="catalogAId" value="3">KIDS</option>
                                    <option name="catalogAId" value="4">BABYS</option>
                                    <option name="catalogAId" value="5">OTHERS</option>
                                </select>

                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                            <div class="form-outline flex-fill mb-0" id="womenClass">
                                <label class="form-label" for="catalogBId">商品分類2</label>
                                <select class="form-control itemselect" name="catalogBId" id="testC">
                                    <option name="catalogBId" value="1">長袖</option>
                                    <option name="catalogBId" value="2">短袖</option>
                                    <option name="catalogBId" value="3">背心/小可愛</option>
                                    <option name="catalogBId" value="4">襯衫</option>
                                    <option name="catalogBId" value="5">洋裝</option>
                                    <option name="catalogBId" value="6">外套</option>
                                    <option name="catalogBId" value="7">長褲</option>
                                    <option name="catalogBId" value="8">短褲</option>
                                    <option name="catalogBId" value="9">裙子</option>
                                    <option name="catalogBId" value="10">內褲</option>
                                    <option name="catalogBId" value="34">鞋子</option>
                                </select>

                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="spuPrice">商品價格</label>
                                <input type="text" name="spuPrice" id="price" class="form-control" />

                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" for="spuInfo">商品敘述</label>
                                <textarea name="spuInfo" id="spuInfo" class="form-control"></textarea>

                            </div>
                        </div>


                    </div>

                    <div class="container">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                            <div class="form-outline flex-fill mb-0" id="womenClass">
                                <label class="form-label" for="spuShow">上架狀態</label>
                                <select class="form-control itemselect" name="spuShow" id="spuShow">
                                    <option name="catalogBId" value="已上架">已上架</option>
                                    <option name="catalogBId" value="未上架">未上架</option>

                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="container d-flex justify-content-between">
                        <input class="btn btn-secondary" type="button" value="回首頁">
                        <input class="btn btn-secondary" type="submit" id="save" value="存檔">
                        <!-- @*@Html.ActionLink("存檔", "upload", "Seller", new { @class = "btn btn-secondary", @id = "save" })*@ -->
                    </div>
                </div>
            </form>
        </div>



        @*</div>*@
        @*</div>*@
        <!-- Footer -->
        <!--test-->
        <div class="showSku">
            <div class="container">
                <div class="d-flex  ">
                    <div class="searchbar">
                        @*<input type="text" id="test00" />*@
                        <input class="search_input" id="test00" type="text" name="searchText" placeholder="Search...">
                        @*<input class="search_input" id="serchText" type="text" name="serchText" placeholder="Search...">*@
                        <a href="#" class="search_icon" id="bt" onclick="return Search();"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>


            @*sku清單*@


            <div class="p-10 bg-surface-secondary" id="spuItem">
                <div class="container">
                    <div class="card">
                        <div class="card-header ">
                            <h6 class="textSize">我的庫存</h6>
                        </div>
                        <div class="table-responsive test">
                            <table class="table table-hover table-nowrap">
                                <thead style="background-color: #D5BDAF;">
                                    <tr>
                                        <th scope="col" class="col-3">圖片</th>
                                        <th scope="col" class="col-3">商品名稱</th>
                                        <th scope="col" class="col-1">顏色</th>
                                        <th scope="col" class="col-1">尺寸</th>
                                        <th scope="col" class="col-1">庫存數量</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @*呼叫 loadData()傳入sku*@
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>



            @*呼叫 sku更新頁面*@

            <div class="modal fade " id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">我的庫存</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="skuClear()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div>
                                <div id="mydrop">
                                    <form action="upload" class="dropzone" name="dropzoneform" id="dropzoneform" style="background-color: #EDEDE9"></form>
                                </div>
                                @*<button type="submit" id="btn">upload</button>*@
                            </div>

                            <form id="updateItemForm" novalidate class="">
                                <div>
                                    <label for="Id" style="display:none">skuid</label>
                                    <input type="text" name="id" id="id" class="form-control" style="display:none" />
                                </div>
                                <div>
                                    <label for="spuId" style="display:none">spuid</label>
                                    <input type="text" name="spuId" id="spuId" class="form-control" style="display:none" />

                                </div>

                                <div>
                                    <label for="skuColor">顏色</label>
                                    <input type="text" name="skuColor" id="skuColor" class="form-control" />
                                </div>
                                <div>

                                    <label for="skuSize">尺寸</label>
                                    <input type="text" name="skuSize" id="skuSize" class="form-control" />
                                </div>
                                <div id="tz">
                                    <label for="skuStock">庫存</label>
                                    <input type="text" name="skuStock" id="skuStock" class="form-control" />
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success" id="updateSkuBtn" @*onclick="Update()"*@ data-dismiss="modal">完成</button>
                            <button type="button" class="btn btn-outline-success" id="addSkuBtn" @*onclick=" AddSku()"*@ data-dismiss="modal" style="display:none">完成</button>
                            <button type="button" class="btn btn-outline-dark dropClear" onclick="skuClear()" data-dismiss="modal">取消</button>


                        </div>
                    </div>
                </div>
            </div>

            @*呼叫 spu更新頁面*@

            <div class="modal fade" id="spuPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">商品詳細頁面</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="spuClear()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="updateItemForm">
                                <div>
                                    <label for="Id" style="display:none">spuid</label>
                                    <input type="text" name="id" id="id" class="form-control" style="display:none" />
                                </div>
                                <div>
                                    <label for="memberId" style="display:none">memberId</label>
                                    <input type="text" name="memberId" id="memberId" class="form-control" style="display:none" />
                                </div>
                                <div>
                                    <label for="spuName">名稱</label>
                                    <input type="text" name="spuName" id="spuName" class="form-control" />
                                </div>

                                <div>
                                    <label for="spuInfo">商品敘述</label>
                                    <input type="text" name="spuInfo" id="spuInfo" class="form-control" />
                                </div>
                                <div>
                                    <label for="spuPrice">價格</label>
                                    <input type="text" name="spuPrice" id="spuPrice" class="form-control" />
                                </div>
                                <div>
                                    <label for="catalogAId">catalogAId</label>
                                    <select class="form-control itemselect" name="catalogAId" id="catalogAId" onchange="selectB(this)">
                                        <option name="catalogAId" value="1" selected>WOMAN</option>
                                        <option name="catalogAId" value="2">MEN</option>
                                        <option name="catalogAId" value="3">KIDS</option>
                                        <option name="catalogAId" value="4">BABYS</option>
                                        <option name="catalogAId" value="5">OTHERS</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="catalogBId">catalogBId</label>
                                    <select class="form-control itemselect" name="catalogBId" id="testC">
                                        <option name="catalogBId" value="1">長袖</option>
                                        <option name="catalogBId" value="2">短袖</option>
                                        <option name="catalogBId" value="3">背心/小可愛</option>
                                        <option name="catalogBId" value="4">襯衫</option>
                                        <option name="catalogBId" value="5">洋裝</option>
                                        <option name="catalogBId" value="6">外套</option>
                                        <option name="catalogBId" value="7">長褲</option>
                                        <option name="catalogBId" value="8">短褲</option>
                                        <option name="catalogBId" value="9">裙子</option>
                                        <option name="catalogBId" value="10">內褲</option>
                                        <option name="catalogBId" value="34">鞋子</option>
                                    </select>
                                </div>


                                <div>
                                    <label for="spuImg1">圖片1</label>
                                    <input type="file" id="ng1" name="ng1" style="display:none" />


                                    <span id="testImg1"></span>
                                    <label for="ng1" class="imgText">圖片修改</label>
                                </div>



                                <div>
                                    <label for="spuImg2">圖片2</label>

                                    <input type="file" id="ng2" name="ng2" style="display:none" />
                                    <span id="testImg2"></span>
                                    <label for="ng2" class="imgText">圖片修改</label>
                                </div>
                                <div>
                                    <label for="spuImg3">圖片3</label>
                                    <input type="file" id="ng3" name="ng3" style="display:none" />
                                    <span id="testImg3"></span>
                                    <label for="ng3" class="imgText">圖片修改</label>
                                </div>
                                <div>
                                    <label for="spuImg4">圖片4</label>
                                    <input type="file" id="ng4" name="ng4" style="display:none" />
                                    <span id="testImg4"></span>
                                    <label for="ng4" class="imgText">圖片修改</label>
                                </div>
                                <div>
                                    <label for="spuImg5">圖片5</label>
                                    <input type="file" id="ng5" name="ng5" style="display:none" />
                                    <span id="testImg5"></span>
                                    <label for="ng5" class="imgText">圖片修改</label>
                                </div>



                                <div>
                                    <label for="spuShow">上架狀態</label>
                                    <input type="text" name="spuShow" id="spuShow" class="form-control" />
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-outline-success" id="bbtn" @*onclick="spuUpdate()"*@ data-dismiss="modal">完成</button>
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal" onclick="spudelete()">刪除</button>
                            <button type="submit" class="btn btn-outline-dark" onclick="spuClear()" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function dragHandler(e) {
        e.preventDefault(); //防止瀏覽器執行預設動作
    }

    function drop_image(e) {
        e.preventDefault(); //防止瀏覽器執行預設動作

        var files = e.dataTransfer.files; //擷取拖曳的檔案
    }
</script>

