`@model IEnumerable<shop123.Models.orders>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.memberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderCreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderPaymentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refundId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.memberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderCreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderPaymentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiverEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receiverPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refundId)
            </td>
            <td>
                <a href="@Url.Action("OrderDetail")?orderguid=@item.orderguid"
                   class="btn btn-info">訂單明細</a>
            </td>
        </tr>
    }

</table>
