@model IEnumerable<shop123.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table ">
    @*<thead>
            <tr><th>訂單編號</th><th>訂購人</th><th>訂購日期</th><th>產品名稱</th><th>圖片</th><th>價格</th><th>數量</th><th>小計</th></tr>
        </thead>*@
    <tbody>
        @{int OrdersTotal = 0;}
        @foreach (var item in Model)
        {
            int detailCount = item.Detail.Count();
            int count = 0;
            int TotalPrice = 0;
            <tr><td>@item.sellerId</td></tr>
            @Html.Raw($"<tr><td rowspan='{detailCount}'>{item.orderguid} </td>" +
            $"<td rowspan='{detailCount}'>{item.memberId}</td>" +
                 $"<td rowspan='{detailCount}'>{item.orderCreateTime:yyyy/MM/dd}</td>")
            foreach (var inItem in item.Detail)
            {

                int inItemSub = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
                TotalPrice += inItemSub;
                @Html.Raw($"<td><img src ='{Url.Content(inItem.spuImg1)}' width='100'/></td >" +
               $"<td>{inItem.orderDetailspuname}<br/>規格:{inItem.orderDetailcolor} {inItem.orderDetailsize}<br/>x{inItem.orderDetailnum}</td>" +
                   $"<td>{inItemSub:c0}</td></tr>")
                count += 1;
            }
            <tr><td colspan="2" align="right">總計：</td><td>@($"{TotalPrice:c0}")</td></tr>
            OrdersTotal += TotalPrice;
        }
        @*<tr><td colspan="1" align="right"><h3>全訂單總計：</h3></td><td><h3>@($"{OrdersTotal:c0}")</h3></td></tr>*@
    </tbody>
</table>
