@model IEnumerable<shop123.Models.ordersDetail>


@{
    ViewBag.Title = "ShoppingCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>
@*<link href="~/Content/shopcartstyle.css" rel="stylesheet" />*@

<table class="table ">
    <thead><tr><th>@*<input type="checkbox" id="CheckAll" name="CheckAll" />*@</th><th>商品</th><th></th><th>單價</th><th>數量</th><th>總計</th><th>操作</th></tr> </thead>

    <tbody>
        @{ int TotalPrice = 0;}
        @foreach (var item in Model)
        {
            int itemSubtotal = item.orderDetailprice.Value * item.orderDetailnum.Value;
            TotalPrice += itemSubtotal;
            <tr>

                <td><input onclick="skuchecked(@item.skuId)" type="checkbox" name="checkboxs" value="" id="sku" /></td>
                <td><a href="@Url.Action("Detail","Home")?id=@item.spuId" )"><img src="@Url.Content($"{item.spuImg1}")" style="width:100px;height:100px" class="img-responsive"></a></td>
                <td>
                    <a class="text-dark  text-decoration-none" href="@Url.Action("Detail","Home")?id=@item.spuId" )">
                        @item.orderDetailspuname-
                        @item.orderDetailcolor-
                        @item.orderDetailsize
                    </a>
                </td>

                <td>@($"{item.orderDetailprice:c0}")</td>

                <td>
                    @using (Html.BeginForm("EditCount", "Member", FormMethod.Post))
                    {
                    <div class="qty">
                        @*<input onclick="minus()" type="submit" value="-" class="minus " - />*@
                        @Html.Hidden("ProductID", item.skuId)
                        @Html.TextBox("ProductCount", item.orderDetailnum, new { @class = "form -control count", style = "width:35px", name = "qty" })
                        <input type="submit" value="變更" class="btn btn-outline-secondary" />
                        @*<input onclick="plus()" type="submit" value="更改" class="plus " + />*@
                    </div>
                    }

                </td>

                <td>@($"{ itemSubtotal:c0}")</td>
                @*<td>@Html.ActionLink("刪除", "DeleteCar", "Member", new { Id = item.skuId }, new { @class = "btn btn-danger" })</td>*@
                <td>
                    <a href="@Url.Action("DeleteCar")?Id=@item.id"
                       class="btn btn-danger"     *@>刪除</a>
                </td>
            </tr>



        }

    </tbody>
    
    
</table>

<div class="d-flex justify-content-end mr-4"><h5>總金額： @($"{TotalPrice:c0}")   | @Html.ActionLink("確認購買", "checkout", "Member", null, new { @class = "btn btn-info" })</h5></div>

@*function DeleteCar(Id) {
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DeleteCar", "Member")',
        data: { Id: Id }
        })

        }*@


<script>
    $(document).ready(function () {
    })

    //function minus(skuId) {
    //    $('.count').val(parseInt($('.count').val()) - 1);
    //    if ($('.count').val() == 0) {
    //        $('.count').val(1);
    //    }
    //}

    //function plus(skuId) {
    //    $('.count').val(parseInt($('.count').val()) + 1);
    //}

    function skuchecked(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("skuchecked", "Member")',
            data: { skuid: skuid }
        })
    }

</script>



