@model IEnumerable<shop123.Models.ordersDetail>


@{
    ViewBag.Title = "ShoppingCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
</style>
@*<link href="~/Content/shopcartstyle.css" rel="stylesheet" />*@

<table class="table ">
    <thead><tr><th>@*<input type="checkbox" id="CheckAll" name="CheckAll" />*@</th><th>商品</th><th></th><th>單價</th><th>數量</th><th>總計</th><th>操作</th></tr> </thead>

    <tbody>
        @{ int TotalPrice = 0;}
        @foreach (var item in Model)
        {
            int itemSubtotal = item.orderDetailprice.Value * item.orderDetailnum.Value;
            TotalPrice += itemSubtotal;
            <tr>
                <td><input onclick="skuchecked(@item.skuId)" type="checkbox" name="checkboxs" value="@item.skuId" /></td>
                <td class=""><a href="@Url.Action("Detail","Home")?id=@item.id")"></a><img src="@Url.Content($"{item.spuImg1}")" style="width:100px;height:100px" class="img-responsive"></td>
                <td>
                    @item.orderDetailspuname-
                    @item.orderDetailcolor-
                    @item.orderDetailsize
                </td>

                <td>@($"{item.orderDetailprice:c0}")</td>

                <td>
                    @using (Html.BeginForm("EditCount", "Member", FormMethod.Post))
                    {
                        <div class="qty">
                            <input type="submit" value="-" class="minus " - />
                            @Html.Hidden("ProductID", item.skuId)
                            @Html.TextBox("ProductCount", item.orderDetailnum, new { @class = "form -control count", style = "width:50px", name = "qty" })
                            <input type="submit" value="+" class="plus " + />
                        </div>
                    }

                </td>

                <td>@($"{ itemSubtotal:c0}")</td>
                @*<td>@Html.ActionLink("刪除", "DeleteCar", "Member", new { Id = item.skuId }, new { @class = "btn btn-danger" })</td>*@
                <td>
                    <a href="@Url.Action("DeleteCar")?Id=@item.id"
                       class="btn btn-danger"
                       @*onclick="return confirm('確定放棄購買 @item.orderDetailspuname 嗎？' )"*@>刪除</a>
                </td>
            </tr>


        
            }
    </tbody>
</table>

@*<div class="d-flex justify-content-end"><h5>總金額： @($"{TotalPrice:c0}")   | @Html.ActionLink("確認購買", "AddOrder", "Orders", null, new { @class = "btn btn-info" })</h5></div>*@

@*function DeleteCar(Id) {
    $.ajax({
        type: 'POST',
        url: '@Url.Action("DeleteCar", "Member")',
        data: { Id: Id }
        })

        }*@

<form action="@Url.Action("ShoppingCar")" method="post">
    <div class="form-horizontal">
        <h4>填寫訂單收件人資料</h4>
        <hr />

        <div class="form-group">
            <span class="control-label col-md-2">收件人姓名</span>
            <div class="col-md-10">
                <input type="text" id="receiverName" name="receiverName" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">收件人信箱</span>
            <div class="col-md-10">
                <input type="email" id="receiverEmail" name="receiverEmail" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">電話</span>
            <div class="col-md-10">
                <input type="text" id="receiverPhone" name="receiverPhone" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">收件人地址</span>
            <div class="col-md-10">
                <input type="text" id="receiverAddress" name="receiverAddress" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">總金額</span>
            <div class="col-md-10">
                <input type="text" id="totalprice" name="totalprice" class="" value="@TotalPrice" )" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確認訂購" class="btn btn-info" />
                <p>總金額：@($"{TotalPrice:c0}")</p>
            </div>
        </div>
    </div>
</form>

<script>


                    $(document).ready(function () {

/*                        $('.count').prop('disabled', true);*/
                        $(document).on('click', '.plus', function () {
                            $('.count').val(parseInt($('.count').val()) + 1);
                        });
                        $(document).on('click', '.minus', function () {
                            $('.count').val(parseInt($('.count').val()) - 1);
                            if ($('.count').val() == 0) {
                                $('.count').val(1);
                            }
                        });



                        $("#CheckAll").click(function () {
                            if ($("#CheckAll").prop("checked")) {
                                $("input[name='checkboxs']").prop("checked", true);
                            } else {
                                $("input[name='checkboxs']").prop("checked", false);
                            }
                        })





                    })



                        function skuchecked(skuid) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("skuchecked", "Member")',
                                data: { skuid: skuid }
                            })
                        }

</script>



