<script src="https://l2dwidget.js.org/lib/L2Dwidget.min.js"></script>
<script src="https://github.com/xiazeyu/live2d-widget-models/blob/master/packages/live2d-widget-model-hijiki/package.json"></script>

<script>
    L2Dwidget.init({
        "model": { "jsonPath": "https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json" }
    });
</script>


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 衣貳衫</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="~/Content/ToTop.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    @*<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>*@
    <style>
        .ui-widget-header, .ui-state-default, ui-button {
            background: #d5bdaf;
            border: 1px solid #b9cd6d;
            color: #ffffff;
            font-weight: bold;
        }
        .ui-widget button {
            background: url(/Images/btn001.png) no-repeat;
            border-radius: 50%;
            border: none;
        }

    </style>
</head>
<body id="body-content">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-6  d-flex justify-content-center justify-content-md-start" >
            <a  href="@Url.Action("Index","Home")"><img src="~/Images/logo.png"  /></a>               
            </div>
            <div class="col-12 col-sm-12 col-md-6  d-flex justify-content-md-end justify-content-center align-items-end mb-5 mt-3 ">
                @using (Html.BeginForm("Allspu", "Home", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", "", new { id = "Search", required = "required", placeholder = "Search", @style = "outline:0;" })
                    <button style="border:0;background-color:transparent;outline:0" type="submit"><i class="fas fa-search"></i></button>
                }
            </div>
        </div>

        <div>
            <ul class="row list-unstyled  mb-5 justify-content-md-end justify-content-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("MemberCenter", "Member")">@(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("Logout", "Home")">登出</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("OrderDetails", "Order")">購買清單</a></li>
                    <li id="Cart">@Html.Partial("_CartPartial")</li>
                }
                else
                {
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("sign", "Home")">登入</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("ShoppingCar", "ShoppingCart")"><i class="fas fa-shopping-cart"></i></a></li>
                }
            </ul>
        </div>

        <div class="row mb-4 mt-5" style="font-size:20px">
            <div class="col-sm-2"></div>
            @Html.Action("_categoryA", "Home")
            <div class="col-sm-2"></div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />



            <footer class="mb-3">

                <div id="dialog">
                    <form id="memberForm" novalidate style="font-size:16px;">
                        <div class="form-row" style=" border: 1px solid transparent; padding: 0.3em;">
                            <div class="form-group">
                                @*寄件者姓名*@
                                <input class="form-control" id="nameText" type="text" name="Name" valuesize="60" placeholder="您的姓名(Your name)" required style="margin-bottom: 12px; width: 95%; padding: .4em; color: #7b0d0d; ">
                            </div>
                            <div class="form-group">
                                @*寄件者email*@
                                <input class="form-control" id="emailText" type="email" name="Email" valuesize="60" placeholder="您的信箱(Your Email)" required style="margin-bottom: 12px; width: 95%; padding: .4em; color: #7b0d0d; ">
                            </div>
                            <div class="form-group">
                                @*寄件者電話*@
                                <input class="form-control" id="telText" type="tel" name="Phone" valuesize="60" aria-invalid="false" placeholder="您的電話(Your phone)" required style="margin-bottom: 12px; width: 95%; padding: .4em; color: #7b0d0d; ">
                            </div>
                            <div class="form-group">
                                @*郵件主旨*@
                                <input class="form-control " id="subText" type="text" name="Subject" valuesize="60" aria-invalid="false" placeholder="主旨(subject)" required style="margin-bottom: 12px; width: 95%; padding: .4em; color: #7b0d0d; ">
                            </div>
                            <div class="form-group">
                                @*郵件內容*@
                                <textarea class="form-control" id="bodyText" name="your-message" cols="120" rows="10" aria-required="true" aria-invalid="true" placeholder="您的訊息(Your Message)" required style="resize: none; margin-bottom: 12px; width: 95%; padding: .4em; color: #7b0d0d; "></textarea>
                            </div>
                            <div class="form-group">
                                @*傳送按鈕*@
                                <input type="button" value="送出" style="background-color:#d5bdaf;color:white;border:none;border-radius:2px;" onclick="submitHandler();">
                                <a id="mailTo"></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="dialog2" title="網站使用條款 | 隱私權政策 | 免責聲明">
                    <p style="font-weight:400;">
                        非常歡迎您光臨「衣貳衫」（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
                    </p>
                    <p>
                        一、隱私權保護政策的適用範圍
                        隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。
                        二、個人資料的蒐集、處理及利用方式
                        當您造訪本網站或使用本網站所提供之功能服務時，我們將視該服務功能性質，請您提供必要的個人資料，並在該特定目的範圍內處理及利用您的個人資料；非經您書面同意，本網站不會將個人資料用於其他用途。
                        本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式及使用時間等。
                        於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
                        為提供精確的服務，我們會將收集的問卷調查內容進行統計與分析，分析結果之統計數據或說明文字呈現，除供內部研究外，我們會視需要公佈統計數據及說明文字，但不涉及特定個人之資料。
                        三、資料之保護
                        本網站主機均設有防火牆、防毒系統等相關的各項資訊安全設備及必要的安全防護措施，加以保護網站及您的個人資料採用嚴格的保護措施，只由經過授權的人員才能接觸您的個人資料，相關處理人員皆簽有保密合約，如有違反保密義務者，將會受到相關的法律處分。
                        如因業務需要有必要委託其他單位提供服務時，本網站亦會嚴格要求其遵守保密義務，並且採取必要檢查程序以確定其將確實遵守。
                        四、網站對外的相關連結
                        本網站的網頁提供其他網站的網路連結，您也可經由本網站所提供的連結，點選進入其他網站。但該連結網站不適用本網站的隱私權保護政策，您必須參考該連結網站中的隱私權保護政策。
                        五、與第三人共用個人資料之政策
                        本網站絕不會提供、交換、出租或出售任何您的個人資料給其他個人、團體、私人企業或公務機關，但有法律依據或合約義務者，不在此限。
                        前項但書之情形包括不限於：
                        經由您書面同意。
                        法律明文規定。
                        為免除您生命、身體、自由或財產上之危險。
                        與公務機關或學術研究機構合作，基於公共利益為統計或學術研究而有必要，且資料經過提供者處理或蒐集者依其揭露方式無從識別特定之當事人。
                        當您在網站的行為，違反服務條款或可能損害或妨礙網站與其他使用者權益或導致任何人遭受損害時，經網站管理單位研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。
                        有利於您的權益。
                        本網站委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。
                        六、Cookie之使用
                        為了提供您最佳的服務，本網站會在您的電腦中放置並取用我們的Cookie，若您不願接受Cookie的寫入，您可在您使用的瀏覽器功能項中設定隱私權等級為高，即可拒絕Cookie的寫入，但可能會導致網站某些功能無法正常執行 。
                        七、隱私權保護政策之修正
                        本網站隱私權保護政策將因應需求隨時進行修正，修正後的條款將刊登於網站上。
                    </p>
                </div>



                <div class="d-flex justify-content-between text">
                    <button type="button" id="opener" style="font-size: 12px;cursor: pointer;" class="btn">聯絡衣貳衫</button>
                    <div>
                        <button type="button" id="opener2" style="font-size: 12px;cursor: pointer;" class="btn">網站使用條款 | 隱私權政策 | 免責聲明 </button>
                        <span style="font-size: 12px"> | &copy; @DateTime.Now.Year - 衣貳衫</span>
                    </div>


                </div>
                <a href="#" class="back-to-top pt-1" style="font-size:2rem"><i class="fa fa-chevron-up"></i></a>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="~/Scripts/ToTop.js"></script>
    <script src="~/Scripts/spucard.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                height: 730,
                title:"聯絡管理員",
                show: {
                    effect: "puff",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });
        });
        $(function () {
                    $("#dialog2").dialog({
                        autoOpen: false,
                        title: "網站使用條款 | 隱私權政策 | 免責聲明",
                        width: 400,
                        show: {
                        effect: "drop",
                        duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $("#opener2").click(function () {
                $("#dialog2").dialog("open");
            });
        });

        //宣告預設表單內容為空 （你想要的話也可以加東西）
        var initSubject = '', initBody = '';

        //按下傳送按鈕後執行
        function submitHandler() {
            var to = "fuen02@gmail.com";//寫死的傳送對象 就是公司的信箱 不會顯示在網頁上
            var name = nameText.value;//讀取ID為 nameTextuser 物件中的值
            var email = emailText.value;
            var tel = telText.value;
            var subject = subText.value;
            //把user填的資料都塞到 mail body 中
            var body = "" + bodyText.value + '%0A%0A%0A';//%0A是換行 換了三行
            body += "From：" + nameText.value + '%0A';
            body += "Email：" + emailText.value + '%0A';
            body += "Tel：" + telText.value;
            //傳送的主要程式碼
            mailTo.href = "mailto:" + to + "?subject=" + subject + "&body=" + body;
            mailTo.click();
        }
        //在body onload
        function init() {
            subText.value = initSubject;
            toText.value = initTo;
            bodyText.value = initBody;
        }
    </script>
</body>
</html>
