<script src="https://l2dwidget.js.org/lib/L2Dwidget.min.js"></script>
<script src="https://github.com/xiazeyu/live2d-widget-models/blob/master/packages/live2d-widget-model-hijiki/package.json"></script>

<script>
    L2Dwidget.init({
        "model": { "jsonPath": "https://unpkg.com/live2d-widget-model-tororo@1.0.5/assets/tororo.model.json" }
    });
</script>


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title 衣貳衫</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="~/Content/ToTop.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    @*<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>*@

</head>
<body id="body-content">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-sm-8">@Html.ActionLink(" ", "Index", "Home", null, new { style = "background: url('" + Url.Content("~/Images/logo.png") + "') no-repeat center right; display:block; height:122px; width:238px;" })</div>
            <div class="col-12 col-sm-4 d-flex justify-content-end align-items-end mb-5">
                @using (Html.BeginForm("Allspu", "Home", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", "", new { id = "Search", required = "required", placeholder = "Search", @style = "outline:0;" })
                    <button style="border:0;background-color:transparent;outline:0" type="submit"><i class="fas fa-search"></i></button>
                }
            </div>
        </div>

        <div>
            <ul class="row list-unstyled justify-content-end mb-5 ">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("MemberCenter", "Member")">@(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("Logout", "Home")">登出</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("OrderDetails", "Order")">購買清單</a></li>
                    <li id="Cart">@Html.Partial("_CartPartial")</li>
                }
                else
                {
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("sign", "Home")">登入</a></li>
                    <li><a class="text-dark px-4 text-decoration-none" ; href="@Url.Action("ShoppingCar", "ShoppingCart")"><i class="fas fa-shopping-cart"></i></a></li>
                }
            </ul>
        </div>

        <div class="row mb-4 mt-5" style="font-size:20px">
            <div class="col-sm-2"></div>
            @Html.Action("_categoryA", "Home")
            <div class="col-sm-2"></div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />



            <footer class="mb-3">

                <div id="dialog">
                    <form id="memberForm" novalidate>
                        <div class="form-row">
                            <div class="form-group">
                                寄件者姓名
                                <input class="form-control col-md-4" id="nameText" type="text" name="Name" valuesize="60" placeholder="姓名(name)" required>   @*required 必填欄位 ，placeholder 預設內容*@
                            </div>
                            <div class="form-group">
                                寄件者email
                                <input class="form-control col-md-4" id="emailText" type="email" name="Email" valuesize="60" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                寄件者電話
                                <input class="form-control col-md-4" id="telText" type="tel" name="Phone" valuesize="60" aria-invalid="false" placeholder="電話(phone)" required>
                            </div>
                            <div class="form-group">
                                郵件主旨
                                <input class="form-control col-md-4" id="subText" type="text" name="Subject" valuesize="60" aria-invalid="false" placeholder="主旨(subject)" required>
                            </div>
                            <div class="form-group">
                                郵件內容
                                <textarea class="form-control col-md-12" id="bodyText" name="your-message" cols="120" rows="10" aria-required="true" aria-invalid="true" placeholder="你的訊息(Your Message)" required style="resize: none;"></textarea>
                            </div>
                            <div class="form-group">
                                傳送按鈕
                                <input type="button" value="送出" onclick="submitHandler();">
                                <a id="mailTo"></a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="d-flex justify-content-end text">
                    <button type="button" id="opener">新增會員資料</button>
                    <span style="font-size: 12px; cursor: pointer; ">網站使用條款 | 隱私權政策 | 免責聲明 </span>
                    <span style="font-size: 12px"> | &copy; @DateTime.Now.Year - 衣貳衫</span>

                </div>
                <a href="#" class="back-to-top pt-1" style="font-size:2rem"><i class="fa fa-chevron-up"></i></a>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="~/Scripts/ToTop.js"></script>
    <script src="~/Scripts/spucard.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });
        });

        //宣告預設表單內容為空 （你想要的話也可以加東西）
        var initSubject = '', initBody = '';

        //按下傳送按鈕後執行
        function submitHandler() {
            var to = "fuen02@gmail.com";//寫死的傳送對象 就是公司的信箱 不會顯示在網頁上
            var name = nameText.value;//讀取ID為 nameTextuser 物件中的值
            var email = emailText.value;
            var tel = telText.value;
            var subject = subText.value;
            //把user填的資料都塞到 mail body 中
            var body = "" + bodyText.value + '%0A%0A%0A';//%0A是換行 換了三行
            body += "From：" + nameText.value + '%0A';
            body += "Email：" + emailText.value + '%0A';
            body += "Tel：" + telText.value;
            //傳送的主要程式碼
            mailTo.href = "mailto:" + to + "?subject=" + subject + "&body=" + body;
            mailTo.click();
        }
        //在body onload
        function init() {
            subText.value = initSubject;
            toText.value = initTo;
            bodyText.value = initBody;
        }
    </script>
</body>
</html>
