@model IEnumerable<shop123.ViewModel.ShoppingCartViewModel>

<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
    /*    table {
        width: 100%;

        overflow-x: auto;
        white-space: nowrap;
    }*/
</style>

@*引用unobtrusive-ajax*@
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="">

    <div class="">
        @{List<string> seller = new List<string>();
            int TotalPrice = 0;
            foreach (var item in Model)
            {

                if (!seller.Contains(item.sellerId))
                {

                    <div class="col-12 mt-5 mb-2 ">
                        <a id="gotoshop" href="@Url.Action("MemberShop", "Home")?mbId=@item.sellerId" class="text-dark  text-decoration-none"> <span>@item.sellerId </span><i class="fa-solid fa-shop"></i></a>
                    </div>
                    foreach (var inItem in item.Detail)
                    {
                        int itemSubtotal = 0;
                        <div class="mb-5 row justify-content-around">
                            <div class="row col-5 col-md-3 col-lg-2  align-items-center ">

                                @if (@inItem.@checked == true)
                                {
                                    //要使用的方法寫在checkbox上的onclick裡，帶入商品ID參數。
                                    <div class=" col-1"><input  onclick="skuchecked(@inItem.skuId)" type="checkbox" name="checkboxs" id="sku" checked /></div>

                                    itemSubtotal = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
                                    TotalPrice += itemSubtotal;
                                }
                                else
                                {
                                    <div class=" col-1"><input  onclick="skuchecked(@inItem.skuId)" type="checkbox" name="checkboxs" id="sku" /></div>
                                }

                                <div class="col-2"><a href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )"><img src="@Url.Content($"{inItem.spuImg1}")" style="width:100px;height:100px" class="img-responsive"></a></div>
                            </div>
                            <div class="row col-7 col-md-9 col-lg-10 align-items-center justify-content-around">

                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <a class="text-dark  text-decoration-none" href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )">
                                        @inItem.orderDetailspuname
                                    </a>

                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                                    @Html.Action("_skuselect", "ShoppingCart", new { spuid = @inItem.spuId, odid = inItem.id })@inItem.orderDetailcolor@inItem.orderDetailsize
                                </div>
                                <div class="col-12 col-sm-5 col-md-4 col-lg-1">$@(inItem.orderDetailprice)</div>

                                <div class="col-12 col-sm-7 col-md-4 col-lg-3 col-xl-2">
                                    @if (inItem.orderDetailnum == 0)
                                    {
                                        <a class="btn">&emsp;</a>
                                        @inItem.orderDetailnum
                                        <a onclick=" plus(@inItem.skuId)" class="btn"><i class="fa-solid fa-plus"></i></a>
                                    }
                                    else
                                    {
                                        //跟checkbox用的方法一樣
                                        <a onclick=" minus(@inItem.skuId)" class="btn"><i class="fa-solid fa-minus"></i></a>
                                        @inItem.orderDetailnum
                                        <a onclick=" plus(@inItem.skuId)" class="btn"><i class="fa-solid fa-plus"></i></a>
                                    }
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-1 col-xl-2">$@(itemSubtotal)</div>
                                <div class="col-12 col-sm-6 col col-md-4 col-lg-1">
                                    @*要有引用unobtrusive-ajax*@
                                    @*第一個屬性是要顯示的名稱，因為要使用fontawesome，所以用兩個空白*@
                                    @*第二個是Action，new{controller可以指定控制器，後面是帶入的參數}*@
                                    @*new AjaxOptions { UpdateTargetId = "div1"}代表ajax執行完更新指定的元素*@

                                    @(Ajax.ActionLink(" ", "DeleteCar", new { controller = "ShoppingCart", Id = @inItem.id }, new AjaxOptions { UpdateTargetId = "div1" }, new { @class = "btn myActionLink  " }))
                                </div>
                            </div>

                        </div>

                    }
                    seller.Add(item.sellerId);
                }
            }

        }
    </div>


</div>

<div class="d-flex justify-content-end mr-2">
    <h5>
        總金額： <spna class="total">$@(TotalPrice)</spna>  | <a href="@Url.Action("checkout")" class="btn checkout"><i class="fa-solid fa-circle-check" style="font-size:2rem;"></i></a>
    </h5>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $('.myActionLink').prepend('<i class="fa-solid fa-trash-can"></i>');

    $(function () {
        var total = $('.total').text();
        if (total === '$0') {
            $('.checkout').css("pointer-events", "none")
        } else {
            $('.checkout').css("pointer-events ", "auto")
        }
    });


    function skuchecked(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("skuchecked", "ShoppingCart")',
            data: { skuid: skuid },
            /*代表成功後傳回Action的資料在#div1的元素裡，這個Action都是回傳PartialView*/
            success: function (data) {
                $('#div1').html(data);
            }
        })
    }

    function minus(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("minus", "ShoppingCart")',
            data: { skuid: skuid },
            success: function (data) {
                $('#div1').html(data);
            }
        })
    }

    function plus(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("plus", "ShoppingCart")',
            data: { skuid: skuid },
            success: function (data) {
                $('#div1').html(data);
            }
        })

    }

</script>

