@model IEnumerable<shop123.ViewModel.ShoppingCartViewModel>

<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }
   
</style>

@*引用unobtrusive-ajax*@
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<table class="table ">
    <thead><tr><th></th><th>商品</th><th></th><th>規格</th><th>單價</th><th>數量</th><th>總計</th><th>操作</th></tr> </thead>

    <tbody>
        @{int index = 0;
            List<string> seller = new List<string>();
            int TotalPrice = 0;

            foreach (var item in Model)
            {
                if (!seller.Contains(item.sellerId))
                {
                    
                    <tr>
                        <td></td>
                        <td>
                           
                                    <a id="gotoshop" href="@Url.Action("MemberShop", "Home")?mbId=@item.sellerId" class="text-dark  text-decoration-none"> <span>@item.sellerId </span><i class="fa-solid fa-shop"></i></a>
                        </td>
                    </tr>





                    foreach (var inItem in item.Detail)
                    {
                        int itemSubtotal = 0;

                        <tr>
                            @if (@inItem.@checked == true)
                            {
                                //要使用的方法寫在checkbox上的onclick裡，帶入商品ID參數。
                                <td><input onclick="skuchecked(@inItem.skuId)" type="checkbox" name="checkboxs" value="" id="sku" checked /></td>

                                itemSubtotal = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
                                TotalPrice += itemSubtotal;
                            }
                            else
                            {
                                <td><input onclick="skuchecked(@inItem.skuId)" type="checkbox" name="checkboxs" value="" id="sku" /></td>
                            }

                            <td><a href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )"><img src="@Url.Content($"{inItem.spuImg1}")" style="width:100px;height:100px" class="img-responsive"></a></td>
                            <td>
                                <a class="text-dark  text-decoration-none" href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )">
                                    @inItem.orderDetailspuname
                                </a>

                            </td>
                            <td>

                                @*@inItem.orderDetailcolor@inItem.orderDetailsize*@
                                @Html.Action("_skuselect", "ShoppingCart", new { spuid = @inItem.spuId ,odid=inItem.id})@inItem.orderDetailcolor@inItem.orderDetailsize


                                @*<select id="skuselect" data-id="@inItem.id" class="showsku" style="width:100px" onclick="showsku(@inItem.spuId)">
                                    <option value="0">@inItem.orderDetailcolor@inItem.orderDetailsize</option>
                                </select>*@
                            </td>
                            <td>@($"{inItem.orderDetailprice:c0}")</td>

                            <td>
                                @if (inItem.orderDetailnum == 0)
                                {
                                    <a class="btn">&emsp;</a>
                                    @inItem.orderDetailnum
                                    <a onclick=" plus(@inItem.skuId)" class="btn"><i class="fa-solid fa-plus"></i></a>
                                }
                                else
                                {
                                    //跟checkbox用的方法一樣
                                    <a onclick=" minus(@inItem.skuId)" class="btn"><i class="fa-solid fa-minus"></i></a>
                                    @inItem.orderDetailnum
                                    <a onclick=" plus(@inItem.skuId)" class="btn"><i class="fa-solid fa-plus"></i></a>
                                }

                            </td>

                            <td>@($"{ itemSubtotal:c0}")</td>
                            <td>
                                @*要有引用unobtrusive-ajax*@
                                @*第一個屬性是要顯示的名稱，因為要使用fontawesome，所以用兩個空白*@
                                @*第二個是Action，new{controller可以指定控制器，後面是帶入的參數}*@
                                @*new AjaxOptions { UpdateTargetId = "div1"}代表ajax執行完更新指定的元素*@

                                @(Ajax.ActionLink(" ", "DeleteCar", new { controller = "ShoppingCart", Id = @inItem.id }, new AjaxOptions { UpdateTargetId = "div1" }, new { @class = "btn myActionLink" }))
                            </td>
                        </tr>


                        index += 1;
                    }
                    seller.Add(item.sellerId);
                }
            }

        }
    </tbody>


</table>

<div class="d-flex justify-content-end mr-2">
    <h5>
        總金額： @($"{TotalPrice:c0}")   | <a href="@Url.Action("checkout")" class="btn"><i class="fa-solid fa-circle-check" style="font-size:2rem;"></i></a>
    </h5>
</div>

<script>
    $('.myActionLink').prepend('<i class="fa-solid fa-trash-can"></i>');

    function skuchecked(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("skuchecked", "ShoppingCart")',
            data: { skuid: skuid },
            /*代表成功後傳回Action的資料在#div1的元素裡，這個Action都是回傳PartialView*/
            success: function (data) {
                $('#div1').html(data);
            }
        })
    }

    function minus(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("minus", "ShoppingCart")',
            data: { skuid: skuid },
            success: function (data) {
                $('#div1').html(data);
            }
        })
    }

    function plus(skuid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("plus", "ShoppingCart")',
            data: { skuid: skuid },
            success: function (data) {
                $('#div1').html(data);
            }
        })

    }

</script>

