@model IEnumerable<shop123.ViewModel.OrderViewModel>

<div class="p-2">
    @{List<int> skuidlist = new List<int>();}
    @foreach (var item in Model)
    {
        int detailCount = item.Detail.Count();
        int TotalPrice = 0;

        <div class=" d-flex justify-content-between mb-2 mt-5">
            <div>
                <a id="gotoshop" href="@Url.Action("MemberShop", "Home")?mbId=@item.sellerId" class="text-dark  text-decoration-none"> <span>@item.sellerId </span><i class="fa-solid fa-shop"></i></a>
            </div>
            <div>
                <span>訂單成立 @item.orderCreateTime</span>
            </div>

        </div>
        <hr />
        foreach (var inItem in item.Detail)
        {
            int inItemSub = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
            TotalPrice += inItemSub;
            <div class="d-flex bd-highlight mb-3 border-bottom">
                <div class="p-2 bd-highlight"><a href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )"><img src="@Url.Content($"{inItem.spuImg1}")" style="width:100px;height:100px"></a></div>
                <div class="p-2 bd-highlight">
                    @inItem.orderDetailspuname
                    <br />
                    規格:@inItem.orderDetailcolor @inItem.orderDetailsize
                    <br />
                    x @inItem.orderDetailnum
                </div>
                <div class="ml-auto p-2 bd-highlight ">
                    @($"{inItemSub:c0}")
                    @if (item.orderState == "完成")
                    {
                        <div style="margin-top:50px;">
                            @Html.ActionLink("我要評論", "ProdComment", "Order", new { skuID = inItem.skuId, mbName = @item.memberId, orderdetailID = inItem.id }, new { @class = "btn btn-outline-secondary" })
                        </div>
                    }
                </div>
            </div>

        }
        <div>
            <div class="d-flex justify-content-between">

                <div>
                    <span class="pr-2">收件人:@item.receiverName </span>
                    <span class="px-2">電話:@item.receiverPhone</span>
                    <span class="px-2">地址:@item.receiverAddress </span>
                </div>
                <div class="d-flex flex-row-reverse mb-4 ">訂單金額：@($"{TotalPrice:c0}")</div>
            </div>
            <div class="d-flex mb-2">
                <div><span class="pr-2">訂單編號: @item.orderguid</span></div>
                <div><span class="px-2">留言: @item.ordermessage</span></div>
            </div>

            <div class="d-flex justify-content-end mb-5">
                <div>
                    @if (@item.orderState == "未付款")
                    {
                        <a onclick="pay(@item.id)" href="#" class="btn btn-outline-secondary">付款</a>
                        <a onclick="cancel(@item.id)" href="#" class="btn btn-outline-secondary">取消訂單</a>
                        @*<a class="btn btn-outline-secondary">聯絡賣家</a>
                            <a class="btn btn-outline-secondary">查看評價</a>*@
                    }
                    else if (@item.orderState == "待出貨")
                    {
                        <a onclick="cancel(@item.id)" href="#" class="btn btn-outline-secondary">取消訂單</a>
                        @*<a class="btn btn-outline-secondary">聯絡賣家</a>
                            <a class="btn btn-outline-secondary">查看評價</a>*@
                    }
                    else if (@item.orderState == "待收貨")
                    {
                        <a onclick="finish(@item.id)" href="#" class="btn btn-outline-secondary">完成訂單</a>
                        @*<a class="btn btn-outline-secondary">聯絡賣家</a>
                            <a class="btn btn-outline-secondary">查看評價</a>*@
                    }
                    else if (@item.orderState == "完成")
                    {
                        <a href="@Url.Action("Buyagain", "ShoppingCart", new {id=@item.id})" class="btn btn-outline-secondary">再買一次</a>

                        @*<a class="btn btn-outline-secondary">聯絡賣家</a>
                            <a class="btn btn-outline-secondary">查看評價</a>*@
                    }
                    else if (@item.orderState == "不成立")
                    {
                        <a href="@Url.Action("Buyagain", "ShoppingCart", new {id=@item.id})" class="btn btn-outline-secondary">再買一次</a>
                        @*<a class="btn btn-outline-secondary">聯絡賣家</a>
                            <a class="btn btn-outline-secondary">查看評價</a>*@
                    }
                </div>
            </div>
        </div>

    }



</div>

<script>
   function finish(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("finish", "Order")',
            data: { id: id },
            success: function (data) {
                $('#All').html(data);
                $('#Shipping').html(data);
            }

        })
    }
     function cancel(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("cancel", "Order")',
            data: { id: id },
            success: function (data) {
                $('#All').html(data);
                $('#NotPay').html(data);
                $('#NotShipping').html(data);
                $('#Shipping').html(data);
            }
        })
    }
    function pay(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("pay", "Order")',
            data: { id: id },
            success: function (data) {
                $('#All').html(data);
                $('#NotPay').html(data);

            }
        })
    }
</script>