@using PagedList
@using PagedList.Mvc

@model IPagedList<shop123.Models.spu>

@{
    ViewBag.Title = "IndexTest";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .pagination-container {
        text-align: center;
    }
</style>




<div class="row d-flex justify-content-center">

    @{
        foreach (var item in Model)
        {
        <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3" style="border:0px">
            <div class="card pb-3">
                <a class="text-dark text-decoration-none" href="@Url.Action("Detail")?id=@item.id"> <img src="@item.spuImg1" class="card-img-top" alt="..."></a>
                <div class="pl-3">
                    <a class="text-dark text-decoration-none" href="@Url.Action("Detail")?id=@item.id"><p class="card-title">@item.spuName</p></a>
                </div>
                <div class="card-footer d-flex justify-content-between" style="height: 45px; background-color: white;border-top:0px">
                    <p class="card-text">$@item.spuPrice</p>
                </div>
               
            </div>
        </div>
        }
    }
</div>


@Html.PagedListPager(Model, page => Url.Action("Allspu", new { page }))