@using PagedList
@using PagedList.Mvc

@model IPagedList<shop123.Models.spu>

@{
    ViewBag.Title = "IndexTest";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .pagination-container {
        text-align: center;
    }
    .card-img-top {
        width: 188px;
        height: 188px;
        object-fit: scale-down;
    }
</style>




<div class="row d-flex justify-content-start">

    @{
        foreach (var item in Model)
        {
            <div class="col mb-3 ">

                <div class="card spucard" style="width:190px;margin:auto;">

                    <a class="text-dark text-decoration-none" href="@Url.Action("Detail")?id=@item.id">
                        @if (item.spuImg1.Length > 30)
                        {
                            <img src="@item.spuImg1" class="card-img-top " alt="...">
                        }
                        else
                        {
                            <img src="~/Images/@item.spuImg1" class="card-img-top" alt="...">
                        }
                    </a>
                    <div class="pl-1">
                        <a class="text-dark text-decoration-none " href="@Url.Action("Detail")?id=@item.id"><p class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.spuName</p></a>
                    </div>
                    <p class="card-text pb-1 pl-1">$@item.spuPrice</p>
                </div>
            </div>
        }
    }
</div>


@Html.PagedListPager(Model, page => Url.Action("Allspu", new { page }))
