@using PagedList
@using PagedList.Mvc

@model IPagedList<shop123.Models.spu>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<style>
    .pagination {
        justify-content: center;
    }
    .card-img-top {
        width: 188px;
        height:188px;
        object-fit:scale-down ;
    }
</style>

@{
    ViewBag.Title = "商品頁";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<input type="hidden" id="catA" value="@ViewBag.catalogAId" />
<input type="hidden" id="catB" value="@ViewBag.catalogBId" />
<input type="hidden" id="page" value="@ViewBag.page" />
<div class="row d-flex">
    <div class=" col-12 col-sm-4 col-md-2 ">
        <ul class="list-group mb-3">
            @Html.Action("_categoryB", "Home")
        </ul>
        @if (ViewBag.sort == "no")
        {
            <select id="sort" class="browser-default custom-select">
                <option style="display:none">價格:</option>
                <option value="asc">價格:低到高</option>
                <option value="desc">價格:高到低</option>
            </select>
        }
        else if (ViewBag.sort == "asc")
        {
            <select id="sort" class="browser-default custom-select">
                <option style="display:none">價格:低到高</option>
                <option value="asc">價格:低到高</option>
                <option value="desc">價格:高到低</option>
            </select>
        }
        else
        {
            <select id="sort" class="browser-default custom-select">
                <option style="display:none">價格:高到低</option>
                <option value="asc">價格:低到高</option>
                <option value="desc">價格:高到低</option>
            </select>
        }

    </div>
    <div class="row cos-8  col-sm-8 col-md-10 ">
        @{
            foreach (var item in Model)
            {
                <div class="col mb-3 ">

                    <div class="card spucard" style="width:190px;margin:auto;">

                        <a class="text-dark text-decoration-none" href="@Url.Action("Detail")?id=@item.id">
                            @if (item.spuImg1.Length > 30)
                            {
                                <img src="@item.spuImg1" class="card-img-top " alt="...">
                            }
                            else
                            {
                                <img src="~/Images/@item.spuImg1" class="card-img-top" alt="...">
                            }
                        </a>
                        <div class="pl-1">
                            <a class="text-dark text-decoration-none " href="@Url.Action("Detail")?id=@item.id"><p class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.spuName</p></a>
                        </div>
                        <p class="card-text pb-1 pl-1">$@item.spuPrice</p>
                    </div>
                </div>
            }
        }

    </div>

</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("categoryPage", new { page, catalogAId = ViewBag.catalogAId, catalogBId = ViewBag.catalogBId, sort = ViewBag.sort }))
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $("#sort").change(function () {
        var sort = $("#sort").val();
        var catA = $("#catA").val();
        var catB = $("#catB").val();
        var page = $("#page").val();
        var url_redirect = '@Url.Action("categoryPage", "Home")';
        console.log(sort);
        console.log(catA);
        console.log(catB);
        $.ajax({
            type: "Post",
            url: '@Url.Action("categoryPage", "Home")',
            data: {
                catalogAId: catA,
                catalogBId: catB,
                page: page,
                sort: sort
                },
            success: function (data) {
                $("body").html(data);
            }


        })
    });
</script>