@model shop123.ViewModel.CDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div class="container_48" id="wrap">
        <div id="content" class="container_48">
            <div id="exhibit" class="container_48">
                @*<div id="sidenav" class="grid_9 alpha">
                        <ul class="sale">
                            <li>
                                <h3>上衣類</h3>
                                <ul class="sale_category">
                                    <li><a href="">聯名印花長T</a></li>
                                    <li><a href="">聯名印花短T</a></li>
                                    <li><a href="">厚棉系列</a></li>
                                    <li><a href="">Fleece系列</a></li>
                                    <li><a href="">長袖上衣</a></li>
                                    <li><a href="">條紋系列</a></li>
                                    <li><a href="">polo系列</a></li>
                                    <li><a href="">立領/高領</a></li>
                                    <li><a href="">針織衫/毛衣</a></li>
                                    <li><a href="">厚磅系列</a></li>
                                    <li><a href="">短袖上衣</a></li>
                                    <li><a href="">快乾系列</a></li>
                                    <li><a href="">輕涼系列</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>襯衫類</h3>
                                <ul class="sale_category">
                                    <li><a href="">商務襯衫</a></li>
                                    <li><a href="">法蘭絨襯衫</a></li>
                                    <li><a href="">休閒襯衫</a></li>
                                    <li><a href="">Fleece系列</a></li>
                                    <li><a href="">牛津襯衫</a></li>
                                    <li><a href="">格紋襯衫</a></li>
                                    <li><a href="">棉麻襯衫</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>下身類</h3>
                                <ul class="sale_category">
                                    <li><a href="">保暖褲</a></li>
                                    <li><a href="">卡其/休閒長褲</a></li>
                                    <li><a href="">牛仔褲</a></li>
                                    <li><a href="">短/七分褲</a></li>
                                    <li><a href="">九分/束口褲</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>*@
                <div class="grid_38 alpha omega">
                    <div class="product_info grid_39">
                        <div class="product_image">
                            @*<img id="productImg" style="max-width: 300px; cursor: pointer;"
                                onload="$.product.ChangeImgPadding();" src="@Model.Spu.spuImg1" alt="@Model.Spu.spuName"
                                title="@Model.Spu.spuName">*@
                            <img id="productImg" style="max-width: 300px; cursor: pointer;"
                                 src="@Model.Spu.spuImg1" alt="@Model.Spu.spuName"
                                 title="@Model.Spu.spuName">

                        </div>
                        <div class="clearfloat">
                            <div class="product_title">
                                <div id="product_name_area">
                                    <span class="title1">
                                        <span id="name">@Model.Spu.spuName</span>
                                        <span id="icolor" color="02"></span>
                                        <span id="isize"></span>
                                    </span>
                                    <br>
                                </div>
                                <div id="product_price_area" style="display:block">
                                    <span id="currencyIdentifier">NT$</span>
                                    <span id="spuPrice" class="price">@Model.Spu.spuPrice</span>
                                </div>
                            </div>
                            <div class="color">
                                <div class="clear"></div>
                                @{List<string> ImageFilter = new List<string>();
                                    //用來判斷skuImage是否重複
                                    foreach (var item in Model.Sku)
                                    {
                                        if (!ImageFilter.Contains(item.skuColor))
                                        {
                                         <a onclick="ChangeImage(this);return false;" return false;" href="">
                                                                    <img src="@item.skuImg" alt="@item.skuColor" title="@item.skuColor" style=" padding: 3px;">
                                         </a>
                                                ImageFilter.Add(item.skuColor);
                                            }

                                        }
                                    }

                            </div>
                            <div class="size">
                                @*<span id="sizelist" class="picksize" cuurentsn>
                                    <a id="" href="" class="" style="width:40px;" onclick="PickSize($(this));return false;">S</a>
                                    <a id="" href="" class="" style="width:40px;" onclick="PickSize($(this));return false;">M</a>
                                    <a id="" href="" class="" style="width:40px;" onclick="PickSize($(this));return false;">L</a>
                                </span>*@

                                <select id="colorAndsize">
                                    <option value="0">請選擇顏色和尺寸</option>
                                    @{foreach (var item in Model.Sku)
                                        {
                                            <option value="@item.id">@item.skuColor - @item.skuSize</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="addcart">
                                <span>
                                    <label class="v-middle">數量</label>
                                    &nbsp;&nbsp;
                                    <a class="minus" href="javascript:void(0)"></a>
                                    <input id="buyCount" type="text" maxlength="2" value="1" />
                                    <a class="plus" href="javascript:void(0)"></a>
                                </span>
                                <a id="addShopcar" href="javascript:void(0)" onclick="AddToCart()" class="btn_addcart">加入購物車</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- product page -->
                    <div class="page-product-content">
                        <div class="page-product-content-left">
                           
                            <div class="page-product-content-block">
                                <div class="block-title">
                                    商品詳情
                                </div>
                                <div class="prod-disc">
                                    <span>
                                        @Model.Spu.spuInfo
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="seller-info" style="height:150px;">
                            <div class="seller-title-text" style="background-color: #D5BDAF;">
                                <h3>賣家資訊</h3>
                            </div>
                            <div class="seller-disc">
                                <img src="@Model.Member.memberImg" alt="賣家商標" width="80">
                                @*<a href="" style="vertical-align:bottom;">賣家帳號:@Model.Member.memberAccount</a>*@
                                @Html.ActionLink(Model.Member.memberAccount, "MemberShop", "Home",new { mbId= Model.Member.id },new { @style = "vertical-align:bottom;" })
                            </div>
                        </div>
                    </div>
                    <!-- end of product page -->
                    <!-- comments & seller info-->
                    <div id="comment-list">
                        <div class="comment-title">
                            商品評論
                        </div>
                        <table>
                            <tbody>
                                @{
                                    if (!Model.Dcomment.Any())
                                    {
                                        <tr><h5>該商品尚無評論</h5></tr>
                                    }
                                    else
                                    {
                                        foreach (var t in Model.Dcomment)
                                        {
                                            <tr class="comment-item">
                                                <td class="comment-left">
                                                    <a href="">
                                                        <img width="120" height="120" src="@t.CVM_skuImg" alt="">
                                                    </a>
                                                </td>
                                                <td class="comment-right">
                                                    <div class="comment-main">
                                                        <p class="comment-header">訂單編號:@t.CVM_orderdetailId</p>
                                                        <p>
                                                            @for (int i = 0; i < t.CVM_Score; i++)
                                                            {
                                                                <img style="width:16px;" src="~/Images/shining.png" />
                                                            }
                                                        </p>
                                                        <p class="comment-body">@t.CVM_comment</p>
                                                        <p class="comment-footer">@t.CVM_skuColor - @t.CVM_skuSize</p>
                                                    </div>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end of comments -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script>
        //加入購物車AJAX方法
        $(document).ready(function () {
            console.log("ready!");
        })
        //加入編號為skuid的商品進購物車
        function AddToCart() {
            let skuid = $("#colorAndsize").val();
            let Quantity = $("#buyCount").val();
            let prodName = $("#name").text();
            let Colorsize = $("#colorAndsize option:selected").text();

            if (skuid == 0) {
                swal("請先選擇顏色與尺寸");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddCar", "ShoppingCart")',
                data: {
                    skuid: skuid,
                    quantity: Quantity
                },
                success: function () {
                    swal(prodName + " " + Colorsize+" 已加入購物車");
                }
            })
                //.done(function (msg) {
                //    $('li#Cart').html(msg);
                //});
        }
        
        var SKU = 0;
        $(".minus").click(function () {
            var t = $("#buyCount");
            if (parseInt(t.val()) == 1) {
                return false;
            };
            t.val(Math.abs(parseInt(t.val())) - 1);
        });
        $(".plus").click(function () {
            var t = $("#buyCount");
            if (parseInt(t.val()) == 99) {
                return false;
            };
            t.val(Math.abs(parseInt(t.val())) + 1);
        });

        var cb_prop = $('.color a');
        cb_prop.click(function () {
            if ($(this).children("img").hasClass('selectedBorder')) {
                $(this).children("img").removeClass('selectedBorder');
            } else {
                var lis = $(this).siblings().children();
                if (lis.hasClass('selectedBorder')) {
                    lis.removeClass('selectedBorder');
                    $(this).children("img").addClass('selectedBorder');
                } else {
                    $(this).children("img").addClass('selectedBorder');
                }
            }
        });

        function PickSize(t) {
            if (t.hasClass('selectedBorder')) {
                t.removeClass('selectedBorder')
            }
            else {
                if (t.siblings().hasClass('selectedBorder')) {
                    t.siblings().removeClass('selectedBorder');
                    t.addClass('selectedBorder');
                }
                else {
                    t.addClass('selectedBorder');
                }
            }
        }

        function ChangeImage(t) {

            let s = $(t).children("img").attr("src");
            s = s.replace("_48.jpg", "_500.jpg");
            $("#productImg").attr("src", s);

        }
    </script>
</body>