@model shop123.ViewModel.CDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="container_48" id="wrap">
        <div id="content" class="container_48">
            <div id="exhibit" class="container_48">
                
                <div class="grid_38 alpha omega">
                    <div class="product_info grid_39">
                        <div class="product_image">
                            @*<img id="productImg" style="max-width: 300px; cursor: pointer;"
                                onload="$.product.ChangeImgPadding();" src="@Model.Spu.spuImg1" alt="@Model.Spu.spuName"
                                title="@Model.Spu.spuName">*@
                            <img id="productImg" style="max-width: 300px; cursor: pointer;"
                                 src="@Model.Spu.spuImg1" alt="@Model.Spu.spuName"
                                 title="@Model.Spu.spuName">

                        </div>
                        <div class="clearfloat">
                            <div class="product_title">
                                <div id="product_name_area">
                                    <span class="title1">
                                        <span id="name">@Model.Spu.spuName</span>
                                        <span id="icolor" color="02"></span>
                                        <span id="isize"></span>
                                    </span>
                                    <br>
                                </div>
                                <div id="product_price_area" style="display:block">
                                    <span id="currencyIdentifier">NT$</span>
                                    <span id="spuPrice" class="price">@Model.Spu.spuPrice</span>
                                </div>
                            </div>
                            <div class="color">
                                <div class="clear"></div>
                                @{List<string> ImageFilter = new List<string>();
                                    //用來判斷skuImage是否重複
                                    foreach (var item in Model.Sku)
                                    {
                                        if (!ImageFilter.Contains(item.skuColor))
                                        {
                                            <a onclick="ChangeImage(this); CheckSize(@item.spuId,'@item.skuColor'); return false;" href="">
                                                <img src="@item.skuImg" alt="@item.skuColor" title="@item.skuColor" style=" padding: 3px;">
                                            </a>
                                            ImageFilter.Add(item.skuColor);
                                        }

                                    }
                                }

                            </div>
                            <div class="size">
                                <span id="sizelist" class="picksize" cuurentsn></span>
                                <br />
                                <div>
                                    <input type="hidden" id="skuidbox" />
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            @if (ViewBag.memberId == Model.Spu.memberId)
                            {

                            }
                            else
                            {


                        <div class="addcart">
                            <span>
                                <label class="v-middle">數量</label>
                                &nbsp;&nbsp;
                                <a class="minus" href="javascript:void(0)"></a>
                                <input id="buyCount" type="text" maxlength="2" value="1" />
                                <a class="plus" href="javascript:void(0)"></a>
                            </span>
                            @if (ViewBag.memberId == "")
                            {
                                <a  onclick="login()" href="#"  class="btn_addcart">加入購物車</a>
                            }
                            else
                            {
                                <a id="addShopcar" href="javascript:void(0)" onclick="AddToCart()" class="btn_addcart">加入購物車</a>
                            }
                        </div>
                            }
                           
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- product page -->
                    <div class="page-product-content">
                        <div class="page-product-content-left">

                            <div class="page-product-content-block">
                                <div class="block-title">
                                    商品詳情
                                </div>
                                <div class="prod-disc">
                                    <span>
                                        @Model.Spu.spuInfo
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="seller-info" style="height:150px;">
                            <div class="seller-title-text" style="background-color: #D5BDAF;">
                                <h3>賣家資訊</h3>
                            </div>
                            <div class="seller-disc">
                                <img src="@Model.Member.memberImg" alt="賣家商標" width="80" onerror="nofind();">
                                @*<a href="" style="vertical-align:bottom;">賣家帳號:@Model.Member.memberAccount</a>*@
                                @Html.ActionLink(Model.Member.memberAccount, "MemberShop", "Home", new { mbId = Model.Member.memberAccount }, new { @style = "vertical-align:bottom;" })
                            </div>
                        </div>
                    </div>
                    <!-- end of product page -->
                    <!-- comments & seller info-->
                    <div id="comment-list">
                        <div class="comment-title">
                            商品評論
                        </div>
                        <table>
                            <tbody>
                                @{
                                    if (!Model.Dcomment.Any())
                                    {
                                        <tr><h5>該商品尚無評論</h5></tr>
                                    }
                                    else
                                    {
                                        foreach (var t in Model.Dcomment)
                                        {
                                            <tr class="comment-item">
                                                <td class="comment-left">
                                                    <a href="">
                                                        <img width="120" height="120" src="@t.CVM_skuImg" alt="">
                                                    </a>
                                                </td>
                                                <td class="comment-right">
                                                    <div class="comment-main">
                                                        <p class="comment-header">訂單編號:@t.CVM_orderdetailId</p>
                                                        <p>
                                                            @for (int i = 0; i < t.CVM_Score; i++)
                                                            {
                                                                <img style="width:16px;" src="~/Images/shining.png" />
                                                            }
                                                        </p>
                                                        <p class="comment-body">@t.CVM_comment</p>
                                                        <p class="comment-footer">@t.CVM_skuColor - @t.CVM_skuSize</p>
                                                    </div>
                                                </td>
                                            </tr>

                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end of comments -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script>
        //加入購物車AJAX方法
        $(document).ready(function () {
            console.log("ready!");
        })
        //加入編號為skuid的商品進購物車
        function AddToCart() {
            let skuid = $("#skuidbox").val();
            let Quantity = $("#buyCount").val();
            let prodName = $("#name").text();
            let txtColor = $(".selectedBorder").attr("title");
            let txtsize = $(".selectedBorder2").text();
            //let Colorsize = $("#colorAndsize option:selected").text();

            if ($(".selectedBorder2").text() == '' || $(".selectedBorder").length == 0) {
                swal("請先選擇顏色與尺寸");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddCar", "ShoppingCart")',
                data: {
                    skuid: skuid,
                    quantity: Quantity
                },
                success: function () {
                    swal(prodName + "(" + txtColor + "-"+txtsize+")已加入購物車");
                }
            })
                //.done(function (msg) {
                //    $('li#Cart').html(msg);
                //});
        }

        function login() {
            swal("請先登入");
        }

        //商品數量加減
        var SKU = 0;
        $(".minus").click(function () {
            var t = $("#buyCount");
            if (parseInt(t.val()) == 1) {
                return false;
            };
            t.val(Math.abs(parseInt(t.val())) - 1);
        });
        $(".plus").click(function () {
            var t = $("#buyCount");
            if (parseInt(t.val()) == 99) {
                return false;
            };
            t.val(Math.abs(parseInt(t.val())) + 1);
        });

        //選擇顏色按鈕並加上class
        var cb_prop = $('.color a');
        cb_prop.click(function () {
            if ($(this).children("img").hasClass('selectedBorder')) {
                $(this).children("img").removeClass('selectedBorder');
            } else {
                var lis = $(this).siblings().children();
                if (lis.hasClass('selectedBorder')) {
                    lis.removeClass('selectedBorder');
                    $(this).children("img").addClass('selectedBorder');
                } else {
                    $(this).children("img").addClass('selectedBorder');
                }
            }
            $("#icolor").text($(".selectedBorder").attr("title"));
        });

        //選擇尺寸按鈕並加上class
        function PickSize(t) {
            if (t.hasClass('selectedBorder2')) {
                t.removeClass('selectedBorder2')
            }
            else {
                if (t.siblings().hasClass('selectedBorder2')) {
                    t.siblings().removeClass('selectedBorder2');
                    t.addClass('selectedBorder2');
                }
                else {
                    t.addClass('selectedBorder2');
                }
            }
            searchSkuid();
        }

        //選擇完顏色尺寸 就使用ajax尋找對應的skuid
        function searchSkuid() {
            if ($(".selectedBorder2").text() != '' && $(".selectedBorder").length != 0)
            {
                //console.log($(".selectedBorder").attr("title"));
                //console.log($(".selectedBorder2").text());

                $.ajax({
                type: 'GET',
                    url: '@Url.Action("checkSkuid")',
                data: {
                    color: $(".selectedBorder").attr("title"),
                    size: $(".selectedBorder2").text(),
                    spuID:@Model.Spu.id
                },
                    success: function (data) {
                        $("#skuidbox").val(data);
                }
            });
            }
        }

        //按小圖換大圖
        function ChangeImage(t) {

            let s = $(t).children("img").attr("src");
            s = s.replace("_48.jpg", "_500.jpg");
            $("#productImg").attr("src", s);

        }

        //從db找各顏色對應的size
        function CheckSize(SKUid,Color)
        {

            $.ajax({
                type: 'GET',
            url: '@Url.Action("Checksize", "Home")',
                data: {
                    skuid: SKUid,
                    color: Color
                },
                success: function (data) {
                    $("#sizelist").html(data);

                }

            });
        }

        //如果用戶圖片找不到,就用預設圖片
        function nofind() {
            var img = event.srcElement;
            img.src = "../Images/defaultIMG.jpg";
            img.onerror = null;
        }
    </script>
</body>