@model shop123.ViewModel.HomeViewModel

@{
    ;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />


<style>
    .owl-nav {
        display: none;
    }

    .showmore {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #dbdbdb;
        color: #dbdbdb;
        background-color: #fff;
    }

        .showmore:hover {
            background-color: #fff;
            opacity: 0.7;
            color: #000000;
            border: 1px solid #000000;
            color: #000000;
            border-radius: 5px;
        }



    .card-img-top {
        width: 188px;
        height: 188px;
        object-fit: scale-down;
    }
</style>

<div class="owl-carousel owl-theme owl-nav">
    @{foreach (var item in Model.carousels)
        {
            <div class="item"> <a href="@Html.Raw(@Url.Action("categoryPage", "Home", new { catalogAId = @item.catalogAId, catalogBId = @item.catalogBId, page = 1 ,sort="no"}))"><img style="width:100%" src="@item.carouselImg"></a></div>
        }
    }
</div>



<div class="row">
    <div class="col-md-12">
        <h5>最新上架商品 </h5>
    </div>
</div>

<div class="row">

    @{
        foreach (var item in Model.spu.Take(40))
        {
            <div class="col mb-3 ">

                <div class="card spucard" style="width:190px;margin:auto;border:0">

                    <a class="text-dark text-decoration-none" href="@Url.Action("Detail")?id=@item.id">
                        @if (item.spuImg1.Length > 30)
                        {
                            <img src="@item.spuImg1" class="card-img-top " alt="...">
                        }
                        else
                        {
                            <img src="~/Images/@item.spuImg1" class="card-img-top" alt="...">
                        }
                    </a>
                    <div class="pl-1">
                        <a class="text-dark text-decoration-none " href="@Url.Action("Detail")?id=@item.id"><p class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.spuName</p></a>
                    </div>
                    <p class="card-text pb-1 pl-1">$@item.spuPrice</p>
                </div>
            </div>
        }
    }
</div>
<div class="d-flex justify-content-center ">
    <button class="showmore">@Html.ActionLink("瀏覽更多", "Allspu", "Home", new { @class = "text-dark text-decoration-none " })</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>

    $(".owl-carousel").owlCarousel({
        autoplay: true,
        loop: true, // 循環播放
        margin: 10, // 外距 10px
        nav: true, // 顯示點點

        responsive: {
            0: {
                items: 1 // 螢幕大小為 0~600
            },
            600: {
                items: 1 // 螢幕大小為 600~1000
            },
            1000: {
                items: 1 // 螢幕大小為 1000 以上
            }
        }
    });



</script>
