@model shop123.ViewModel.MemberShopViewModel
@{
    ViewBag.Title = "MemberShop";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<style>
    .owl-nav {
        display: none;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <h5>@Model.MB.memberAccount 的商場 </h5>
    </div>
</div>

<div class="row d-flex justify-content-center">

    @{
        foreach (var item in Model.MBspu)
        {
            <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3" style="border:0px">
                <div class="card pb-3">
                    <a class="text-dark text-decoration-none" href="@Url.Action(" Detail")?id=@item.id"> <img src="@item.spuImg1" class="card-img-top" alt="..."></a>
                    <div class="pl-3">
                        <a class="text-dark text-decoration-none" href="@Url.Action(" Detail")?id=@item.id"><p class="card-title">@item.spuName</p></a>
                    </div>
                    <div class="card-footer d-flex justify-content-between" style="height: 45px; background-color: white;border-top:0px">
                        <p class="card-text">$@item.spuPrice</p>
                    </div>
                    @*<div class="card-footer d-flex justify-content-between" style="height:45px;background-color:white;border-top:0px">
                            <button class="btn shadow-none" style="outline:0;"><i class="far fa-heart"></i></button>
                            <button class="btn shadow-none" style="outline:0;"><i class="fas fa-cart-plus"></i></button>
                        </div>*@
                </div>
            </div>
        }
    }
</div>



<script>



</script>

