@model IEnumerable<shop123.ViewModel.ShoppingCartViewModel>
@{
    ViewBag.Title = "結帳";
    int TotalPrice = 0;
    //string sellerId = "";
}

<div class="p-2">
    <form action="@Url.Action("checkout","ShoppingCart")" method="post">
        
        @{ int index = 0;}
        @{List<string> seller = new List<string>();

            //List<string> sellerIds = new List<string>();

            //用來判斷店家是否重複
            foreach (var item in Model)
            {

                //string _tmp = string.Concat("sellerIds", index);

                int detailCount = item.Detail.Count();
                if (!seller.Contains(item.sellerId))
                {
                    <div class=" ">
                        <div>
                            <a id="gotoshop" href="@Url.Action("MemberShop", "Home")?mbId=@item.sellerId" class="text-dark  text-decoration-none"> <span>@item.sellerId </span><i class="fa-solid fa-shop"></i></a>

                        </div>
                    </div>
                    //sellerIds.Add(item.sellerId);
                    <hr />
                    foreach (var inItem in item.Detail)
                    {

                        int inItemSub = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
                        TotalPrice += inItemSub;
                        <div class="d-flex bd-highlight mb-3 border-bottom">
                            <div class="p-2 bd-highlight"><a href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )"><img src="@Url.Content($"{inItem.spuImg1}")" style="width:100px;height:100px"></a></div>
                            <div class="p-2 bd-highlight">
                                @inItem.orderDetailspuname
                                <br />
                                規格:@inItem.orderDetailcolor @inItem.orderDetailsize
                                <br />
                                x @inItem.orderDetailnum
                            </div>
                            <div class="ml-auto p-2 bd-highlight ">@($"{inItemSub:c0}")</div>
                        </div>

                    }
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-7">
                                <div class="row ">
                                    <div class="col-6">
                                        <span class="control-label ">收件人姓名</span>
                                        <div class="">
                                            <input type="text" id="receiverName" name="receiverName" required="required" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <span class="control-label ">電話</span>
                                        <div class="">
                                            <input type="text" id="receiverPhone" name="receiverPhone" required="required" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <span class="control-label ">收件人地址</span>
                                        <div class="">
                                            <input type="text" id="receiverAddress" name="receiverAddress" required="required" class="form-control" />
                                        </div>
                                    </div>
                                    <div class=" ">
                                        <input type="hidden" id="sellerIds" name="sellerIds" value="@item.sellerId" )" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                @*<div class="col-6">
                                    <span class="control-label ">留言</span>
                                    <div class="">
                                        <input class="form-control" type="text" id="ordermessage" name="ordermessage" placeholder="指定時段/管理室代收 / 電話聯絡時間..."  style="width:350px">
                                    </div>
                                </div>*@
                                <div class="col-6">
                                    <span class="control-label ">付款方式</span>
                                    <div class="">
                                        <select class="form-control">
                                            <option value="">貨到付款</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    seller.Add(item.sellerId);
                }
                //index += 1;
            }
            <div class="form-group mt-5">
                <div class=" d-flex flex-row-reverse ">
                    <input style="font-family: FontAwesome; border: 0; background-color: transparent; font-size: 2rem; cursor: pointer;" value="&#xf058;" type="submit" />
                    <input type="submit" value="總金額@($"{TotalPrice:c0}") " style="border: 0; background-color: transparent; font-size: 2rem " />


                </div>
            </div>
        }
    </form>
</div>
<script>

    $('.myActionLink').prepend('<i class="fa-solid fa-circle-check" style="font-size:2rem"></i>');

</script>