@model shop123.Models.catalogB

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增分類項目</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0px;
        }
/*
        body {
            margin:0 auto;
            height:100vh;
        }*/
    </style>
</head>
<body>
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>新增分類</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    請填入分類大項
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.catalogAId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.catalogAId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    請填入分類細項
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.catalogBName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.catalogBName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>



        }

        <div>
            @Html.ActionLink("回分類清單", "Catalog")
        </div>
    </div>
</body>
</html>
