@model IEnumerable<shop123.ViewModel.AdminCatalogViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>分類清單</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        * {
            margin: 0;
            padding: 0px;
        }

        body {
            padding: 25px;
        }

        table {
            overflow: scroll;
            width: 50%;
            table-layout: fixed;
            margin: auto;
        }

        td {
            overflow: hidden;
            /*max-width: 100px;*/
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        th {
            text-align: center;
        }

        .w5 {
            width: 5rem;
        }

        .w7 {
            width: 7rem;
        }

        .w8 {
            width: 8rem;
        }

        .w15 {
            width: 15rem;
        }

        .edede9 {
            background-color: #edede9;
        }

        .d6ccc2 {
            background-color: #d6ccc2;
        }

        .f5ebe0 {
            background-color: #f5ebe0;
        }

        .e3d5ca {
            background-color: #e3d5ca;
        }

        .d5bdaf {
            background-color: #d5bdaf;
        }

        .text-decoration-none {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("回管理者介面", "AdminIndex", "", new { @class = "btn btn-dark" })
    </p>
    <p>
        @Html.ActionLink("新增分類項目", "CreateCatalog", "", new { @class = "btn btn-info" })
    </p>
    <div class="form-group form-row">
        <h6 class="col-md-12">
            目前的分類為:
        </h6>
        <hr />
        <div class="col-md-6">
            @Html.DropDownList("showCA", null, "-大項分類-", htmlAttributes: new { id = "pshowCA", @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.DropDownList("showCB", null, "-細項分類-", htmlAttributes: new { id = "pshowCB", @class = "form-control" })
        </div>
    </div>
    <div class="table-responsive-md">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="f5ebe0">
                    <th scope="col" class="text-nowrap w5" style="display:none;">
                        分類大項編號
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        分類編號
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        分類大項名稱
                    </th>

                    <th scope="col" class="text-nowrap w5">
                        分類細項名稱
                    </th>
                    <th scope="col" class="text-nowrap w5">刪除資料</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none">
                            @item.cataId
                        </td>
                        <td>
                            @item.catbId
                        </td>
                        <td id="CatAname">
                            @item.cataName
                        </td>
                        <td>
                            @item.catbName
                        </td>
                        <td>
                            @using (Html.BeginForm("CatalogDelete", "Admin", FormMethod.Post, new { @class = "deleteBtn" }))
                            {
                                @Html.Hidden("id", item.catbId)
                                <input type="submit" value="刪除此分類項目" class="btn btn-outline-danger" />
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#pshowCA").change(function () {
                console.log("pehla andar");
                $("#pshowCB").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCatB")',
                    dataType: 'json',
                    data: { showCA: $("#pshowCA").val() },
                    success: function (items) {
                        console.log("wo heeeeee");
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(items, function (i, item) {
                            $("#pshowCB").append('<option value="'
                                + item.Value + '">'
                                + item.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });




        $(function () {

            $(".deleteBtn").click(function (e) {
                //whenever our button is clicked

                e.preventDefault();
                // stop the default behavior(navigation)
                var _form = $(this).closest("form");
                //get a reference to the container form
                swal({
                    title: "是否確定要刪除?",
                    text: "一旦刪除，資料無法找回!",
                    icon: "warning",
                    buttons: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            _form.submit();
                            swal("內容已被刪除!"
                                , { icon: "success", }
                            );
                        } else {
                            swal("檔案確認保留!");
                        }
                    });
            });

        })
    </script>
</body>
</html>
