@model IEnumerable<shop123.Models.member>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>會員清單</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            margin: 0;
            padding: 0px;
        }

        body {
            margin: 30px;
            padding:30px
        }

        table {
            overflow: scroll;
            width: 100%;
            table-layout: fixed;
            min-width: 1440px;
        }

        td {
            overflow: hidden;
            /*max-width: 100px;*/
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        th {
            text-align: center;
        }

        .w5 {
            width: 5rem;
        }

        .w7 {
            width: 7rem;
        }

        .w8 {
            width: 8rem;
        }

        .w15 {
            width: 15rem;
        }

        .edede9 {
            background-color: #edede9;
        }

        .d6ccc2 {
            background-color: #d6ccc2;
        }

        .f5ebe0 {
            background-color: #f5ebe0;
        }

        .e3d5ca {
            background-color: #e3d5ca;
        }

        .d5bdaf {
            background-color: #d5bdaf;
        }

        .text-decoration-none {
            text-decoration: none;
        }

/*按鈕css*/
 /*       input {
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .skin {
            pointer-events: none;
            border-radius: inherit;
        }

        .one.skin {
            background-color: wheat;
        }

        .two.skin {
            background-color: blue;
            --mask: radial-gradient(circle at 45px 45px, rgba(0,0,0,0) 40px, rgba(0,0,0,1) 40px);
            mask-image: var(--mask);
            -webkit-mask-image: var(--mask);
        }

        input:checked ~ .two.skin {
            --mask: radial-gradient(circle at 305px 45px, rgba(0,0,0,1) 40px, rgba(0,0,0,0) 40px);
            mask-image: var(--mask);
            -webkit-mask-image: var(--mask);
        }
*/
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("回管理者介面", "AdminIndex", "", new { @class = "btn btn-dark" })
    </p>
    @*<p>
            @Html.ActionLink("新增會員", "MemberCreate", "", new { @class = "btn btn-info" })
        </p>*@
    <div class="table-responsive-md" id="memberList">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="f5ebe0">
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberAccount)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberPassword)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberName)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberPhone)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.memberEmail)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.memberImg)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberBanned)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberAccess)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.memberCreateTime)
                    </th>
                    <th scope="col" class="text-nowrap w5">刪除資料</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberAccount)
                    </td>
                    <td style="display">
                        @Html.DisplayFor(modelItem => item.memberPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberEmail)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.memberImg)
                        @*<img src="@item.memberImg" class="card-img-top" alt="...">*@
                        <div style="width:160px;height:100%;object-fit:contain;" class="thumbnail text-center">
                            @*<img src="@item.memberImg" class="card-img-top" alt=@item.memberName>*@
                            @*絕對路徑會抱錯*@
                            @*<img src=@Url.Content($"~/Images/{item.memberImg}")
                                class="card-img-top" alt=@item.memberName>*@
                            @if (item.memberImg != null)
                            {
                                if (item.memberImg.Length > 30)
                                {
                                    <img src="@item.memberImg" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src=@Url.Content($"~/Images/{item.memberImg}")
                                         class="card-img-top" alt=@item.memberImg>}
                            }
                            else { }
                        </div>

                    </td>
                    <td>
                        @*@Html.EditorFor(modelItem => item.memberBanned)*@
                        @using (Ajax.BeginForm("UpdateMemberBanned", "Admin", new AjaxOptions { UpdateTargetId = "#memberList" }))
                        {
                            @Html.Hidden("id", item.id)
                            if (item.memberBanned == true)
                            {
                                <input type="checkbox" class="skin one" onchange="$(this.form).submit();" checked />

                            }
                            else
                            {

                                <input type="checkbox" class="skin two" onchange="$(this.form).submit();" />
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberAccess)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberCreateTime)
                    </td>
                    <td @*style="display:flex" class="justify-content-between"*@>
                        @*@Html.ActionLink("編輯會員","MemberEdit", new { id = item.id }, new { @class = "btn btn-outline-info" })*@
                        @using (Html.BeginForm("MemberDelete", "Admin", FormMethod.Post, new { @class = "deleteBtn" }))
                        {
                            @Html.Hidden("id", item.id)
                            <input type="submit" value="刪除會員" class="btn btn-outline-danger" />
                        }
                        @*@Html.ActionLink("刪除會員", "MemberDelete", new { id = item.id }, new { @class = "btn btn-outline-danger" })*@
                    </td>
                </tr>
            }

        </table>
    </div>
    <script>

        /*$('.myActionLink').prepend("<i class='fa fa-plus'></i> ");*/

        $(function () {

            $(".deleteBtn").click(function (e) {
                //whenever our button is clicked

                e.preventDefault();
                // stop the default behavior(navigation)
                var _form = $(this).closest("form");
                //get a reference to the container form
                swal({
                    title: "是否確定要刪除?",
                    text: "一旦刪除，資料無法找回!",
                    icon: "warning",
                    buttons: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            _form.submit();
                            swal("內容已被刪除!"
                                , { icon: "success", }
                            );
                        } else {
                            swal("檔案確認保留!");
                        }
                    });
            });

        })


        @*//ajax同步更新
        function memberListUpload(memberaccount) {
            $ajax({
                type: 'post',
                url: '@Url.Action("memberListUpload", "Admin")',
                async: true,
                data:{
                memberaccount: memberaccount
            },
                success: function (data) {
                    $('#data').html(data);
                }
            })
        }*@

    </script>

</body>
</html>
