@model IEnumerable<shop123.Models.spu>

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>商品清單</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        * {
            margin: 0;
            padding: 0px;
        }

        body {
            padding: 25px;
        }

        table {
            overflow: scroll;
            width: 100%;
            table-layout: fixed;
            min-width: 1440px;
        }

        td {
            overflow: hidden;
            /*max-width: 100px;*/
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        th {
            text-align: center;
        }

        .w5 {
            width: 5rem;
        }

        .w7 {
            width: 7rem;
        }

        .w10 {
            width: 10rem;
        }

        .w13 {
            width: 13rem;
        }

        .w15 {
            width: 15rem;
        }

        .edede9 {
            background-color: #edede9;
        }

        .d6ccc2 {
            background-color: #d6ccc2;
        }

        .f5ebe0 {
            background-color: #f5ebe0;
        }

        .e3d5ca {
            background-color: #e3d5ca;
        }

        .d5bdaf {
            background-color: #d5bdaf;
        }

        .text-decoration-none {
            text-decoration: none;
        }
    </style>
</head>
<body>
    @*<p>
            @Html.ActionLink("新增商品", "SpuCreate", "", new { @class = "btn btn-info" })
        </p>*@    
        <p>
            @Html.ActionLink("回管理者介面", "AdminIndex", "", new { @class = "btn btn-dark" })
        </p>

    <div class="table-responsive-md" id="spuList">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr class="f5ebe0">
                    <th scope="col" class="text-nowrap">
                        @Html.DisplayNameFor(model => model.spuName)
                    </th>
                    <th scope="col" class="text-nowrap  w5">
                        @Html.DisplayNameFor(model => model.memberId)
                    </th>
                    <th scope="col" class="text-nowrap">
                        @Html.DisplayNameFor(model => model.spuInfo)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.spuPrice)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.catalogAId)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.catalogBId)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuImg1)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuImg2)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuImg3)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuImg4)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuImg5)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuShow)
                    </th>
                    <th scope="col" class="text-nowrap w5">
                        @Html.DisplayNameFor(model => model.spuCreatedTime)
                    </th>
                    <th scope="col" class="text-nowrap w7">
                        @Html.DisplayNameFor(model => model.spuEditTime)
                    </th>
                    <th scope="col" class="text-nowrap w7">刪除資料</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.catalogAId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.catalogBId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuImg1)
                        <div style="width:100px;height:100%;object-fit:contain;" class="thumbnail">
                            @if (item.spuImg1.Length > 30)
                            {
                                <img src="@item.spuImg1" class="card-img-top" alt="...">
                            }
                            else
                            {
                                @*<img src="~/Images/@item.spuImg1" class="card-img-top" alt="...">*@
                                <img src=@Url.Content($"~/Images/{item.spuImg1}")
                                     class="card-img-top" alt=@item.spuImg1>
                            }
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuImg2)
                        <div style="width:100px;height:100%;object-fit:contain;" class="thumbnail">
                            @if (item.spuImg2 != null)
                            {
                                if (item.spuImg2.Length > 30)
                                {
                                    <img src="@item.spuImg2" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src=@Url.Content($"~/Images/{item.spuImg2}")
                                         class="card-img-top" alt=@item.spuImg2>}
                            }
                            else { }

                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuImg3)
                        <div style="width:100px;height:100%;object-fit:contain;" class="thumbnail">
                            @if (item.spuImg3 != null)
                            {
                                if (item.spuImg3.Length > 30)
                                {
                                    <img src="@item.spuImg3" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src=@Url.Content($"~/Images/{item.spuImg3}")
                                         class="card-img-top" alt=@item.spuImg3>}
                            }
                            else { }
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuImg4)
                        <div style="width:100px;height:100%;object-fit:contain;" class="thumbnail">
                            @if (item.spuImg4!= null)
                            {
                                if (item.spuImg4.Length > 30)
                                {
                                    <img src="@item.spuImg4" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src=@Url.Content($"~/Images/{item.spuImg4}")
                                         class="card-img-top" alt=@item.spuImg4>}
                            }
                            else { }
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuImg5)
                        <div style="width:100px;height:100%;object-fit:contain;" class="thumbnail">
                            @if (item.spuImg5 != null)
                            {
                                if (item.spuImg5.Length > 30)
                                {
                                    <img src="@item.spuImg5" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src=@Url.Content($"~/Images/{item.spuImg5}")
                                         class="card-img-top" alt=@item.spuImg5>}
                            }
                            else { }
                        </div>
                    </td>
                    <td>
                        @*<form>
            @Html.Hidden("id", item.id)
            @Html.DropDownList("spushow", null, htmlAttributes: new { @class = "form-control" })
        </form>*@
                        @*@using (Ajax.BeginForm("UpdateSpuShow", "Admin", new AjaxOptions { UpdateTargetId = "#spuList" }))
        {

        @Html.Hidden("id", item.id)
        <select>
        @if (item.spuShow == "已上架")
        {
            <option value="已上架" onchange="$(this.form).submit();" selected>已上架</option>
            <option value="未上架" onchange="$(this.form).submit();">未上架</option>
        }
        else
        {
            <option value="已上架" onchange="$(this.form).submit();">已上架</option>
            <option value="未上架" onchange="$(this.form).submit();"  selected>未上架</option>
        }
        </select>
        }*@




                        @using (Ajax.BeginForm("UpdateSpuShow", "Admin", new AjaxOptions { UpdateTargetId = "#spuList" }))
                        {
                            @Html.Hidden("id", item.id)
                            if (item.spuShow == "已上架")
                            {
                                <div>@item.spuShow</div>
                                <input type="submit" value="下架商品" class="btn btn-danger" onchange="$(this.form).submit();" />
                            }
                            else
                            {
                                <div>@item.spuShow</div>
                                <input type="submit" value="上架商品" class="btn btn-info" onchange="$(this.form).submit();" />
                            }
                        }


                        @*<div class="col-md-3">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Hidden("id", item.id)
                    @Html.DropDownList("spushow", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>*@

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuCreatedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.spuEditTime)
                    </td>
                    <td>
                        @*@Html.ActionLink("編輯商品", "SpuEdit", new { id = item.id }, new { @class = "btn btn-outline-info demo3" })*@

                        @using (Html.BeginForm("SpuDelete", "Admin", FormMethod.Post, new { @class = "deleteBtn" }))
                        {
                            @Html.Hidden("id", item.id)
                            <input type="submit" value="刪除商品" class="btn btn-outline-danger" />
                            @*<input type="hidden" name="id" value="id" />
                                <span>
                                    @Html.ActionLink("刪除商品", "SpuDelete", new { id = item.id }, new { @class = "btn btn-outline-danger deleteBtn" })
                                </span>*@
                        }

                        @*@Html.ActionLink("刪除商品", "SpuDelete", new { id = item.id }, new { @class = "btn btn-outline-danger" })*@
                    </td>
                </tr>
            }

        </table>


    </div>
    <script>

        @*$(document).ready(function () {
            console.log("ready");
            $(".spushow").change(function (id) {
                console.log("i can seeit");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateSpuShow", "Admin")',
                    data: { id:this.id },
                    success: function (data) {
                        $('#spushow').html(data)
                        console.log("yeahhhhh");
                    },
                    error: function (ex) {
                        alert("Failed to retrieve states : " + ex);
                    },
                }); // ajax end
                return false;
            }); // change end
        });*@

       @*function updateoption(id) {
            console.log("i can work");
            $.ajax({
            type: 'POST',
                url: '@Url.Action("UpdateSpuShow", "Admin")',
                data: { item: id },
            success: function (data) {
                $('#spuList').html(data);
            }
        })
       }*@




        $(function () {
            $(".deleteBtn").click(function (e) {
                //whenever our button is clicked

                e.preventDefault();
                // stop the default behavior(navigation)
                var _form = $(this).closest("form");
                //get a reference to the container form
                swal({
                    title: "是否確定要刪除?",
                    text: "一旦刪除，資料無法找回!",
                    icon: "warning",
                    buttons: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            _form.submit();
                            swal("內容已被刪除!"
                                , { icon: "success", }
                            );
                        } else {
                            swal("檔案確認保留!");
                        }
                    });
            });
        })

        //$(document).ready(function () {
        //    var selectitem = document.querySelectorAll("option");
        //    selectitem.forEach(item => {
        //        item.addEventListener("click", i => {
        //            return this.text;
        //        })
        //    })
        //    })



    </script>



</body>
</html>
