@model IEnumerable<shop123.Models.ordersDetail>

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.memberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderguid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spuImg1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailspuname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailsize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailcolor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailtotalprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDetailIsApproved)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.spuId)
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.memberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderguid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skuId)
        </td>
        <td>
           <img src="@Html.DisplayFor(modelItem => item.spuImg1)") />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailspuname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailsize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailcolor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailtotalprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderDetailIsApproved)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.spuId)
        </td>
       
    </tr>
}

</table>
