@{
    ViewBag.Title = "買家訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div>
    <ul class="nav nav-tabs dflex justify-content-center " role="tablist">
        <li class="nav-item">
            <a class="nav-link  active text-secondary" href="#All" role="tab" data-toggle="tab" aria-selected="true">全部</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#NotPay" role="tab" data-toggle="tab" onclick="showorders('未付款')">未付款</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#NotShipping" role="tab" data-toggle="tab" onclick="showorders('待出貨')">待出貨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Shipping " role="tab" data-toggle="tab" onclick="showorders('待收貨')">待收貨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Finish " role="tab" data-toggle="tab" onclick="showorders('完成')">完成</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Cancel " role="tab" data-toggle="tab" onclick="showorders('不成立')">不成立</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <br />
        <br />
        <div role="tabpanel" class="tab-pane active" id="All">
            @Html.Action("OrderDetailsPartial", "Order", new { state = "all" })
        </div>
        <div role="tabpanel" class="tab-pane fade" id="NotPay">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="NotShipping">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Shipping">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Finish">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Cancel">
        </div>

    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
      function finish(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("finish", "Order")',
            data: { id: id },
            success: function () {
                showorders("all");
                showorders("待收貨");
            }

        })
    }
    function cancel(id) {
        swal({
            title: "您確定要取消?",
            icon: "warning",
            buttons: {
                A: {
                    text: "確定",
                    value: "A"
                },
                B: {
                    text: "取消",
                    value: "B"
                },
            }
        }).then((value) => {
            if (value === "A") {
                $.ajax({
            type: 'POST',
            url: '@Url.Action("cancel", "Order")',
            data: { id: id },
            success: function () {
                showorders("待出貨");
                showorders("待收貨");
                showorders("未付款");
                showorders("all");
            }
        })
            }
            else {
                return;
            }
        });

    }
    function pay(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("pay", "Order")',
            data: { id: id },
            success: function () {
                showorders("未付款");
                showorders("all");

            }
        })
    }
    function showorders(state) {
        $.ajax({
                                    type: 'GET',
            url: '@Url.Action("OrderDetailsPartial", "Order")',
            data: { state: state },
            success: function (data) {
                                            switch (state) {
                                                case '未付款':
                            $('#NotPay').html(data);
                                                    break;
                                                case '待出貨':
                            $('#NotShipping').html(data);
                                                    break;
                                                case '待收貨':
                            $('#Shipping').html(data);
                                                    break;
                                                case '完成':
                            $('#Finish').html(data);
                                                    break;
                                                case '不成立':
                            $('#Cancel').html(data);
                                                    break;
                                                case 'all':
                            $('#All').html(data);
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    })
    }




</script>