@model IEnumerable<shop123.ViewModel.OrderViewModel>
@{
    ViewBag.Title = "買家訂單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div>
    <ul class="nav nav-tabs dflex justify-content-center " role="tablist">
        <li class="nav-item">
            <a class="nav-link  active text-secondary" href="#All" role="tab" data-toggle="tab" aria-selected="true">全部</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#NotPay" role="tab" data-toggle="tab" onclick="showorders('未付款')">未付款</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#NotShipping" role="tab" data-toggle="tab" onclick="showorders('待出貨')">待出貨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Shipping " role="tab" data-toggle="tab" onclick="showorders('待收貨')">待收貨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Finish " role="tab" data-toggle="tab" onclick="showorders('完成')">完成</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#Cancel " role="tab" data-toggle="tab" onclick="showorders('不成立')">不成立</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <br />
        <br />
        <div role="tabpanel" class="tab-pane active" id="All">
            <div class="p-2">
                @{List<int> skuidlist = new List<int>();}
                @foreach (var item in Model)
                {
                    int detailCount = item.Detail.Count();
                    int TotalPrice = 0;

                    <div class=" d-flex justify-content-between mb-2 mt-5">
                        <div>
                            <a id="gotoshop" href="@Url.Action("MemberShop", "Home")?mbId=@item.sellerId" class="text-dark  text-decoration-none"> <span>@item.sellerId </span><i class="fa-solid fa-shop"></i></a>

                        </div>
                        <div>
                            
                            <span>訂單成立 @item.orderCreateTime</span>
                        </div>

                    </div>
                    <hr />
                    foreach (var inItem in item.Detail)
                    {
                        int inItemSub = inItem.orderDetailprice.Value * inItem.orderDetailnum.Value;
                        TotalPrice += inItemSub;
                        <div class="d-flex bd-highlight mb-3 border-bottom">
                            <div class="p-2 bd-highlight"><a href="@Url.Action("Detail", "Home")?id=@inItem.spuId" )"><img src="@Url.Content($"{inItem.spuImg1}")" style="width:100px;height:100px"></a></div>
                            <div class="p-2 bd-highlight">
                                @inItem.orderDetailspuname
                                <br />
                                規格:@inItem.orderDetailcolor @inItem.orderDetailsize
                                <br />
                                x @inItem.orderDetailnum
                            </div>
                            <div class="ml-auto p-2 bd-highlight ">@($"{inItemSub:c0}")</div>
                        </div>

                    }
                    <div >
                        <div class="d-flex justify-content-between">
                            <div><span>訂單編號 @item.orderguid</span></div>

                            <div class="d-flex flex-row-reverse mb-4 ">訂單金額：@($"{TotalPrice:c0}")</div>
                        </div>
                        <div class="d-flex justify-content-end mb-5">
                            <div>
                                @if (@item.orderState == "未付款")
                                {
                                    <a class="btn">付款</a>
                                    <a class="btn">取消訂單</a>
                                    <button class="btn">聯絡賣家</button>
                                    <button class="btn">查看評價</button>
                                }
                                else if (@item.orderState == "待出貨")
                                {
                                    <a class="btn">取消訂單</a>
                                    <button class="btn">聯絡賣家</button>
                                    <button class="btn">查看評價</button>
                                }
                                else if (@item.orderState == "待收貨")
                                {
                                    <a class="btn">完成訂單</a>
                                    <button class="btn">聯絡賣家</button>
                                    <button class="btn">查看評價</button>
                                }
                                else if (@item.orderState == "完成")
                                {
                                    <a onclick="finish(@item.orderguid)" class="btn">再買一次</a>
                                    <button class="btn">聯絡賣家</button>
                                    <button class="btn">查看評價</button>
                                }
                                else if (@item.orderState == "不成立")
                                {
                                    <a class="btn">再買一次</a>
                                    <button class="btn">聯絡賣家</button>
                                    <button class="btn">查看評價</button>
                                }
                            </div>
                        </div>
                    </div>

                }



            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="NotPay">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="NotShipping">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Shipping">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Finish">
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Cancel">
        </div>

    </div>
</div>

<script>
    function showorders(state) {
        $.ajax({
                                    type: 'GET',
            url: '@Url.Action("OrderDetailsPartial", "Order")',
            data: { state: state },
            success: function (data) {
                                            switch (state) {
                                                case '未付款':
                            $('#NotPay').html(data);
                                                    break;
                                                case '待出貨':
                            $('#NotShipping').html(data);
                                                    break;
                                                case '待收貨':
                            $('#Shipping').html(data);
                                                    break;
                                                case '完成':
                            $('#Finish').html(data);
                                                    break;
                                                case '不成立':
                            $('#Cancel').html(data);
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    })
    }

</script>